<div class="row">
  <div class="col-lg-4 col-xxl-3">
    <app-card cardTitle="Κωδικός Πολυκατοικίας">
      <h5 class="mb-0">{{ buildingData?.buildingCode }}</h5>
      <p class="text-muted mb-0 small">Με τον κωδικό αυτό μπορείτε να προσθέσετε και άλλους χρήστες στην Πολυκατοικία</p>
    </app-card>
    <app-card [showHeader]="false" blockClass="position-relative">
      <div class="position-absolute end-0 top-0 p-3"></div>
      <div class="text-center mt-3">
        <div class="chat-avatar d-inline-flex mx-auto">
          <img class="rounded-circle img-fluid wid-65" src="assets/images/user/avatar-5.jpg" alt="User image" />
        </div>
        <h5 class="mb-0">{{ buildingData?.managerFullName }}</h5>
        <p class="text-muted mb-0">Διαχειριστής</p>
        <p></p>
        <hr class="my-3" />
        <div class="row g-3">
          <div class="col-4">
            <h5 class="mb-0">86</h5>
            <p class="text-muted">Ένοικοι</p>
          </div>
          <div class="col-4 border border-top-0 border-bottom-0">
            <h5 class="mb-0">{{ buildingData?.floors }}</h5>
            <p class="text-muted">Όροφοι</p>
          </div>
          <div class="col-4">
            <h5 class="mb-0">{{ buildingData?.apartmentsNum }}</h5>
            <p class="text-muted">Διαμερίσματα</p>
          </div>
        </div>
        <hr class="my-3" />
        @for (task of details; track task) {
          <div class="d-inline-flex align-items-center justify-content-between w-100 mb-2">
            <i antIcon type="{{ task.icon }}" theme="outline" class="f-14"></i>
            <p class="mb-0">{{ task.text }}</p>
          </div>
        }
      </div>
    </app-card>
    <app-card cardTitle="Διαθεσιμότητα θέσεων">
      @for (skill of skills; track skill) {
        <div class="row align-items-center mb-3">
          <div class="col-sm-6 mb-2 mb-sm-0">
            <p class="mb-0">{{ skill.title }}</p>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1 me-3">
                <ngb-progressbar class="progress progress-primary" type="progress-bar" [value]="skill.value" height="6px"></ngb-progressbar>
              </div>
              <div class="flex-shrink-0">
                <p class="mb-0 text-muted">{{ skill.value }}%</p>
              </div>
            </div>
          </div>
        </div>
      }
    </app-card>
  </div>
  <div class="col-lg-8 col-xxl-9">
    <app-card cardTitle="Περιγραφή" [padding]="24">
      <p class="mb-0">
        {{ buildingData?.buildingDescription || 'Δεν έχει οριστεί περιγραφή για την πολυκατοικία.' }}
      </p>
    </app-card>
    <app-card cardTitle="Στοιχεία Πολυκατοικίας" [padding]="24">
      <form [formGroup]="buildingForm" (ngSubmit)="submitChanges()">
        <div class="row">
          <div
            class="col-md-6 form-group"
            *ngFor="
              let field of [
                { name: 'name', label: 'Όνομα Κτιρίου' },
                { name: 'street1', label: 'Οδός 1' },
                { name: 'stNumber1', label: 'Αριθμός Οδού 1' },
                { name: 'street2', label: 'Οδός 2' },
                { name: 'stNumber2', label: 'Αριθμός Οδού 2' },
                { name: 'city', label: 'Πόλη' },
                { name: 'region', label: 'Περιοχή' },
                { name: 'postalCode', label: 'ΤΚ' },
                { name: 'country', label: 'Χώρα' },
                { name: 'state', label: 'Νομός' },
                { name: 'floors', label: 'Όροφοι' },
                { name: 'apartmentsNum', label: 'Διαμερίσματα' },
                { name: 'sqMetersTotal', label: 'Συνολικά τ.μ.' },
                { name: 'sqMetersCommonSpaces', label: 'Κοινόχρηστα τ.μ.' }
              ]
            "
          >
            <label>{{ field.label }}</label>
            <input type="text" class="form-control" [formControlName]="field.name" />
          </div>
          <div class="col-md-6 form-group" *ngIf="buildingForm.get('parkingExists')?.value">
            <label>Αριθμός Θέσεων Πάρκινγκ</label>
            <input type="number" class="form-control" formControlName="parkingSpacesNum" />
          </div>
          <div class="col-md-6 form-group" *ngIf="buildingForm.get('storageExists')?.value">
            <label>Αριθμός Αποθηκών</label>
            <input type="number" class="form-control" formControlName="storageNum" />
          </div>
          <div class="col-md-6 form-group">
            <label>Διαθέτει Υπόγειο</label>
            <select class="form-select" formControlName="undergroundFloorExists">
              <option [value]="true">Ναι</option>
              <option [value]="false">Όχι</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Διαθέτει Ημιόροφο</label>
            <select class="form-select" formControlName="halfFloorExists">
              <option [value]="true">Ναι</option>
              <option [value]="false">Όχι</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Διαθέτει Δώμα</label>
            <select class="form-select" formControlName="overTopFloorExists">
              <option [value]="true">Ναι</option>
              <option [value]="false">Όχι</option>
            </select>
          </div>
        </div>
      </form>
    </app-card>
    <app-card cardTitle="Θέρμανση" [padding]="24">
      <ul class="list-group list-group-flush">
        @for (task of employment; track task) {
          <li class="list-group-item px-0 {{ task.style }}">
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 text-muted">{{ task.title }}</p>
                <p class="mb-0">{{ task.name }}</p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 text-muted">{{ task.sub_title }}</p>
                <p class="mb-0">{{ task.f_name }}</p>
              </div>
            </div>
          </li>
        }
      </ul>
    </app-card>
    <div class="text-center mt-2">
      <button type="submit" class="btn btn-secondary me-2">Ακύρωση</button>
      <button type="submit" class="btn btn-primary">Αποθήκευση</button>
    </div>
  </div>
</div>
