<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Light Box" blockClass="pc-component">
      <p>
        Add this code
        <code>data-lightbox="example-set"</code>
        to see roadtrip gallery in lightbox popup.
      </p>
      <div class="row text-center border-less-image-gallery">
        @for (image of Images; track image) {
          <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
            <div class="thumbnail mb-4">
              <div class="thumb">
                <img
                  src="{{ image.src }}"
                  alt="gallery image"
                  class="img-fluid m-b-10 rounded"
                  (click)="openModal(400, images, imageIndex)"
                />
              </div>
            </div>
          </div>
        }
      </div>
    </app-card>
  </div>
</div>
