<div class="menu-styler">
  <div class="style-block">
    <div class="customize-header bg-primary align-items-center">
      <h5 class="offcanvas-title text-white">Theme Customization</h5>
      <a href="javascript:" class="wid-30 hei-30 d-flex align-items-center justify-content-center" (click)="this.Customize.emit()">
        <i class="f-18 d-flex align-items-centert text-white" antIcon type="close-circle" theme="outline"></i>
      </a>
    </div>
    <app-scrollbar [customStyle]="'calc(100vh - 60px)'">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a
            class="btn border-0 text-start w-100"
            (click)="layoutIsCollapsed = !layoutIsCollapsed"
            [attr.aria-expanded]="!layoutIsCollapsed"
          >
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <div href="javascript:" class="avatar avatar-xs bg-light-primary">
                  <i class="ti ti-brush f-18"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="mb-1">Επιλογή Θέματος</h6>
                <span class="f-12">Επιλέξτε ανάμεσα σε φωτεινό ή σκούρο θέμα</span>
              </div>
              <i class="ti ti-chevron-down"></i>
            </div>
          </a>
          <div class="collapse show" [(ngbCollapse)]="layoutIsCollapsed">
            <div class="pct-content">
              <div class="theme-color text-start themePreset-color">
                <a
                  href="javascript:"
                  [ngClass]="{ active: layoutType === false }"
                  (click)="setDarkLayout(false)"
                  data-value="light"
                  ngbTooltip="Default Layout"
                >
                  <span><img src="assets/images/customization/default.svg" alt="img" /></span>
                  <span>Φωτεινό</span>
                </a>
                <a
                  href="javascript:"
                  [ngClass]="{ active: layoutType === true }"
                  (click)="setDarkLayout(true)"
                  data-value="dark"
                  ngbTooltip="Dark"
                >
                  <span><img src="assets/images/customization/dark.svg" alt="img" /></span>
                  <span>Σκούρο</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </app-scrollbar>
  </div>
</div>
