<app-card cardTitle="Total Expenses">
  <ng-template #headerOptionsTemplate>
    <div ngbDropdown placement="bottom-end">
      <a class="avatar avatar-s btn-link-secondary arrow-none" href="javascript:" ngbDropdownToggle>
        <i class="f-18" antIcon type="more" theme="outline"></i>
      </a>
      <div ngbDropdownMenu>
        <a ngbDropdownItem>Today</a>
        <a ngbDropdownItem>Weekly</a>
        <a ngbDropdownItem>Monthly</a>
      </div>
    </div>
  </ng-template>
  <div id="chart">
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [colors]="chartOptions.colors"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [plotOptions]="chartOptions.plotOptions"
      [dataLabels]="chartOptions.dataLabels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
  @for (list of expenses; track list; let last = $last; let first = $first) {
    <div class="d-flex align-items-center justify-content-between" [ngClass]="{ 'mb-2': !last, 'mt-3': first }">
      <h6 class="mb-0 d-flex align-items-center gap-2">
        <i class="fas fa-circle {{ list.color }} f-12"></i>
        {{ list.title }}
      </h6>
      <p class="mb-0 text-muted">{{ list.value }}</p>
    </div>
  }
</app-card>
