<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card soon-card">
          <div class="card-body">
            <div class="soon-image-block">
              <div class="row justify-content-center">
                <div class="col-10">
                  <img class="img-fluid" src="assets/images/pages/coming-soon.png" alt="coming-soon img" />
                </div>
              </div>
            </div>
            <h2 class="mt-4 text-center f-46"><b>Έρχεται Σύντομα</b></h2>
            <p class="mt-3 mb-4 text-center text-muted f-16">Κάτι νέο είναι καθ’ οδόν</p>
            <div class="row timer-block mt-4 justify-content-center align-items-center" id="timer-block">
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ days }}</h2>
                  <span>ημέρα</span>
                </span>
              </div>
              <div class="col-auto p-0"><h1>:</h1></div>
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ hours }}</h2>
                  <span>ώρα</span>
                </span>
              </div>
              <div class="col-auto p-0"><h1>:</h1></div>
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ minutes }}</h2>
                  <span>λεπτό</span>
                </span>
              </div>
              <div class="col-auto p-0"><h1>:</h1></div>
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ seconds }}</h2>
                  <span>δευτ.</span>
                </span>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-5">
                <p class="mt-4 mb-3">Γίνε ο πρώτος που θα ενημερωθεί όταν το Mantis θα είναι διαθέσιμο.</p>
                <div class="row align-items-center">
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Διεύθυνση Email" />
                  </div>
                  <div class="col-auto">
                    <div class="d-grid">
                      <button class="btn btn-primary">
                        <div class="d-flex align-items-center">
                          <i class="me-2 d-flex" antIcon theme="outline" type="alert"></i>
                          <span>Ενημέρωσέ Με</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
