<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card soon-card">
          <div class="card-body">
            <div class="soon-image-block">
              <div class="row justify-content-center">
                <div class="col-10">
                  <img class="img-fluid" src="assets/images/pages/coming-soon.png" alt="coming-soon img" />
                </div>
              </div>
            </div>
            <h2 class="mt-4 text-center f-46"><b>Coming Soon</b></h2>
            <p class="mt-3 mb-4 text-center text-muted f-16">Something new is on it's way</p>
            <div class="row timer-block mt-4 justify-content-center align-items-center" id="timer-block">
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ days }}</h2>
                  <span>day</span>
                </span>
              </div>
              <div class="col-auto p-0"><h1>:</h1></div>
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ hours }}</h2>
                  <span>hour</span>
                </span>
              </div>
              <div class="col-auto p-0"><h1>:</h1></div>
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ minutes }}</h2>
                  <span>min</span>
                </span>
              </div>
              <div class="col-auto p-0"><h1>:</h1></div>
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  <h2>{{ seconds }}</h2>
                  <span>sec</span>
                </span>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-5">
                <p class="mt-4 mb-3">Be the first to be notified when Mantis launches.</p>
                <div class="row align-items-center">
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Email Address" />
                  </div>
                  <div class="col-auto">
                    <div class="d-grid">
                      <button class="btn btn-primary">
                        <div class="d-flex align-items-center">
                          <i class="me-2 d-flex" antIcon theme="outline" type="alert"></i>
                          <span>Notify Me</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
