<div class="table-responsive">
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th (click)="onSort('code')" style="cursor: pointer">ID Παραστατικού {{ getSortIcon('code') }}</th>
        <th (click)="onSort('month')" style="cursor: pointer">Μήνας/Έτος {{ getSortIcon('month') }}</th>
        <th (click)="onSort('startDate')" style="cursor: pointer">Ημ. Δημιουργίας {{ getSortIcon('startDate') }}</th>
        <th (click)="onSort('endDate')" style="cursor: pointer">Ημ. Λήξης {{ getSortIcon('endDate') }}</th>
        <th (click)="onSort('total')" style="cursor: pointer">Ποσό {{ getSortIcon('total') }}</th>
        <th (click)="onSort('status')" style="cursor: pointer">Κατάσταση {{ getSortIcon('status') }}</th>
        <th class="text-center">Ενέργειες</th>
      </tr>
    </thead>
    <tbody>
      @for (s of statements; track s; let i = $index) {
        <tr>
          <td>{{ s.code }}</td>
          <td>{{ s.month }}</td>
          <td>{{ s.startDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ s.endDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ s.total | number: '1.2-2' }} €</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success': s.isPaid || s.status === 'PAID',
                'bg-warning': s.status === 'ISSUED' && !s.isPaid,
                'bg-danger': s.status === 'CLOSED',
                'bg-info': s.status === 'DRAFT'
              }"
            >
              {{ translateStatus(s.status, s.isPaid) }}
            </span>
          </td>
          <td class="text-center">
            <ul class="list-inline me-auto mb-0">
              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avatar avatar-xs btn-link-secondary" ngbTooltip="Προβολή" (click)="onView(s)">
                  <i class="f-16 text-secondary d-flex" antIcon type="eye" theme="outline"></i>
                </a>
              </li>
              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avatar avatar-xs btn-link-primary" ngbTooltip="Επεξεργασία" (click)="onEdit(s)">
                  <i class="f-16 text-primary d-flex" antIcon type="edit" theme="outline"></i>
                </a>
              </li>
              <li class="list-inline-item align-bottom">
                <a href="javascript:" ngbTooltip="Διαγραφή" class="avatar avatar-xs btn-link-danger" (click)="onDelete(s)">
                  <i class="f-16 text-danger d-flex" antIcon type="delete" theme="outline"></i>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
