<app-card cardTitle="Στοιχεία Εταιρίας Διαχείρισης">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Επωνυμία Εταιρίας</label>
        <input class="form-control" formControlName="companyName" />
      </div>

      <div class="col-md-6">
        <label class="form-label">ΑΦΜ</label>
        <input class="form-control" formControlName="afm" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Υπεύθυνος</label>
        <input class="form-control" formControlName="responsiblePerson" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Τηλέφωνο</label>
        <input class="form-control" formControlName="phoneNumber" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="email" />
      </div>

      <div class="col-md-3">
        <label class="form-label">Πόλη</label>
        <input class="form-control" formControlName="city" />
      </div>

      <div class="col-md-3">
        <label class="form-label">Περιοχή</label>
        <input class="form-control" formControlName="region" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Διεύθυνση</label>
        <input class="form-control" formControlName="address" />
      </div>

      <div class="col-md-3">
        <label class="form-label">Αριθμός</label>
        <input class="form-control" formControlName="addressNumber" />
      </div>

      <div class="col-md-3">
        <label class="form-label">Τ.Κ.</label>
        <input class="form-control" formControlName="postalCode" />
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4 gap-2">
      <button type="button" class="btn btn-outline-secondary" (click)="back()">Πίσω</button>

      <button type="submit" class="btn btn-primary">Συνέχεια</button>
    </div>
  </form>
</app-card>
