<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">
    <div class="card table-card">
      <div class="card-body p-0">
        <form class="dt-responsive">
          <div class="dataTable-top">
            <div class="dataTable-dropdown">
              <input
                id="table-complete-search"
                type="text"
                class="form-control"
                name="searchTerm"
                [(ngModel)]="service.searchTerm"
                placeholder="Αναζήτηση..."
              />
            </div>
            <div class="dataTable-search d-flex align-items-center">
              <a
                href="javascript:"
                class="btn btn-primary d-inline-flex align-items-center"
                data-bs-toggle="modal"
                (click)="openLg(content)"
              >
                <i class="me-2 d-flex" antIcon type="plus" theme="outline"></i>
                <span>Προσθήκη Πελάτη</span>
              </a>
              <a href="javascript:">
                <i class="ms-3 f-24 text-muted" antIcon type="download" theme="outline"></i>
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th><input class="form-check-input" type="checkbox" /></th>
                  <th>#</th>
                  <th>Πληροφορίες Χρήστη</th>
                  <th>Επικοινωνία</th>
                  <th class="text-center">Παραγγελίες</th>
                  <th>Συνολικό Ποσό</th>
                  <th>Κατάσταση</th>
                  <th class="text-center">Ενέργειες</th>
                </tr>
              </thead>
              <tbody>
                @for (customer of customer$ | async; track customer) {
                  <tr>
                    <td><input class="form-check-input" type="checkbox" /></td>
                    <th>{{ customer.id }}</th>
                    <td>
                      <div class="row align-items-center">
                        <div class="col-auto p-0">
                          <img src="{{ customer.src }}" alt="user-image" class="wid-30 rounded-circle" />
                        </div>
                        <div class="col">
                          <ngb-highlight [result]="customer.name" [term]="service.searchTerm" class="h6 mb-0"></ngb-highlight>
                          <ngb-highlight [result]="customer.email" [term]="service.searchTerm" class="text-muted f-12 mb-0"></ngb-highlight>
                        </div>
                      </div>
                    </td>
                    <td>+1 (247) 849-6968</td>
                    <td class="text-center">
                      <ngb-highlight [result]="customer.orders" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="customer.spent" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="customer.status" [term]="service.searchTerm" class="badge {{ customer.status_type }} rounded-pill f-12"></ngb-highlight>
                    </td>
                    <td class="text-center">
                      <ul class="list-inline me-auto mb-0">
                        <li class="list-inline-item"><a title="Προβολή" (click)="openCustomer(details)"><i class="f-18 text-secondary" antIcon type="eye" theme="outline"></i></a></li>
                        <li class="list-inline-item"><a title="Επεξεργασία" (click)="openLg(content)"><i class="f-18 text-primary" antIcon type="edit" theme="outline"></i></a></li>
                        <li class="list-inline-item"><a title="Διαγραφή" (click)="service.deleteCustomer(customer.id)"><i class="f-18 text-danger" antIcon type="delete" theme="outline"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div class="d-sm-flex justify-content-between p-3">
            <select class="form-select" [(ngModel)]="service.pageSize">
              <option [ngValue]="5">5 ανά σελίδα</option>
              <option [ngValue]="10">10 ανά σελίδα</option>
              <option [ngValue]="15">15 ανά σελίδα</option>
            </select>
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"></ngb-pagination>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Λεπτομέρειες Πελάτη -->
<ng-template #details let-modal>
  <div class="modal-header justify-content-between">
    <h5 class="mb-0">Λεπτομέρειες Πελάτη</h5>
    <a (click)="modal.close('Close click')"><i class="f-20 text-danger" antIcon type="close" theme="outline"></i></a>
  </div>
  <div class="modal-body">
    <h5>Προσωπικές Πληροφορίες</h5>
    <!-- Σώμα modal -- Δεδομένα -->
  </div>
</ng-template>

<!-- Modal Επεξεργασία Πελάτη -->
<ng-template #content let-modal>
  <div class="modal-header justify-content-between">
    <h5 class="modal-title">Επεξεργασία Πελάτη</h5>
    <button class="btn-close" (click)="modal.close('Close click')"></button>
  </div>
  <div class="modal-body">
    <label>Όνομα Πελάτη</label>
    <input type="text" class="form-control" placeholder="Όνομα" />
    <label>Τηλέφωνο</label>
    <input type="number" class="form-control" placeholder="Τηλέφωνο" />
    <label>Κατάσταση</label>
    <select class="form-select">
      <option>Επιλέξτε Κατάσταση</option>
      <option>Πολύπλοκο</option>
      <option>Ελεύθερος</option>
      <option>Σε Σχέση</option>
    </select>
    <label>Σύνολο Παραγγελιών</label>
    <input type="number" class="form-control" placeholder="Παραγγελίες" />
    <label>Συνολικό Ποσό</label>
    <input type="number" class="form-control" placeholder="Ποσό" />
    <label>Διεύθυνση</label>
    <textarea class="form-control" rows="3" placeholder="Διεύθυνση"></textarea>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-link-danger" (click)="modal.close('Close click')">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Αποθήκευση</button>
  </div>
</ng-template>
