<div class="row">
  <div class="col-12">
    <app-card cardTitle="Η Εταιρία" [padding]="24">
      <ng-container *ngIf="loading">
        <div class="py-4">Φόρτωση...</div>
      </ng-container>
      <ng-container *ngIf="!loading && error">
        <div class="alert alert-warning mb-0">
          {{ error }}
        </div>
      </ng-container>
      <ng-container *ngIf="!loading && !error && company">
        <form [formGroup]="companyForm" class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Επωνυμία</label>
            <input class="form-control" formControlName="companyName" />
          </div>
          <div class="col-md-6">
            <label class="form-label">ΑΦΜ</label>
            <input class="form-control" formControlName="taxNumber" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Υπεύθυνος</label>
            <input class="form-control" formControlName="managerName" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Email</label>
            <input class="form-control" formControlName="email" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Τηλέφωνο</label>
            <input class="form-control" formControlName="phone" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Διεύθυνση</label>
            <input class="form-control" formControlName="address" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Αριθμός</label>
            <input class="form-control" formControlName="addressNumber" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Περιοχή</label>
            <input class="form-control" formControlName="region" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Τ.Κ.</label>
            <input class="form-control" formControlName="postalCode" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Πόλη</label>
            <input class="form-control" formControlName="city" />
          </div>
        </form>
        <div *ngIf="hasRole('PropertyManager')" class="mt-4 text-end">
          <button type="button" class="btn btn-secondary me-2" (click)="toggleEdit()">
            {{ isEditing ? 'Ακύρωση' : 'Επεξεργασία' }}
          </button>
          <button type="button" class="btn btn-success" [disabled]="!isEditing || companyForm.invalid" (click)="submitChanges()">
            Αποθήκευση
          </button>
        </div>
      </ng-container>
    </app-card>
  </div>
</div>
