/**  =====================
      e-commerce css start
==========================  **/

@import '../../../../scss/settings/color-variables.scss';

::ng-deep.ecomm-prod-slider {
  display: flex;

  .carousel-inner,
  .carousel-inner img {
    background-color: $gray-300;
    border: none rgb(230, 235, 241);
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    box-shadow: inherit;
    margin: 0px auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .product-carousel-indicators {
    position: relative;
    height: 484px;
    width: 100px;

    .toggle-img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      line-height: 1;
      overflow: hidden;
      border-radius: 4px;
      font-size: 1.5rem;
      width: 64px;
      height: 64px;
      color: var(--bs-primary);
      background: $white;
      margin: 0px auto;
      cursor: pointer;
      border: 1px solid $gray-300;

      img {
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: cover;
        color: transparent;
        text-indent: 10000px;
      }
    }

    @media (max-width: 1199px) {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1199px) {
    display: block;
  }

  .carousel-inner {
    img {
      width: auto;
      margin: 0 auto;
    }
  }
  .product-carousel-indicators {
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    @media (max-width: 1199px) {
      overflow-x: auto;
      overflow-y: hidden;
      flex-direction: row;
    }

    &::-webkit-scrollbar {
      width: 6px;
      opacity: 0;
      &:hover {
        opacity: 1;
      }

      @media (max-width: 1024px) {
        width: 1px;
      }
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($gray-100, 05%);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: darken($gray-100, 25%);
    }
  }
}
::ng-deep.rel-prod-card {
  position: absolute;
  top: 0;
  left: calc(var(--bs-gutter-x) * 0.5);
  right: calc(var(--bs-gutter-x) * 0.5);
  bottom: 0;

  .media {
    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
  img {
    background: $gray-300;
  }
  @media (max-width: 575.98px) {
    position: relative;
    left: 0;
    right: 0;
    .rel-prod-list {
      height: 400px;
    }
  }
}
.product-list-img {
  background: $gray-200;
}
::ng-deep.rel-prod-list {
  height: calc(100% - 140px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: darken($gray-100, 05%);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($gray-100, 25%);
  }
}
::ng-deep.product-details-modal {
  .product-images {
    background: $gray-300;
  }
}
::ng-deep.ecom-wrapper {
  display: flex;
  .ecom-filter {
    width: 320px;
    margin-right: var(--bs-gutter-x);
    .scroll-block {
      height: calc(100vh - 120px);
    }
  }

  .ecom-offcanvas {
    --bs-offcanvas-width: 301px;
    .sticky-xxl-top {
      top: 100px;
    }
    &.show {
      .collapse-horizontal.collapse:not(.show) {
        display: block;
      }
      .ecom-filter {
        margin-right: 0;
        .scroll-block {
          height: calc(100vh - 90px);
        }
      }
    }
  }
}

::ng-deep.filter-button {
  i {
    font-size: 14px;

    svg {
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }
}

::ng-deep.review-card {
  background: $gray-100;
}

::ng-deep.ec-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  min-height: 36px;
  padding: 0px;
  min-width: 0px;
  width: 56px;
  height: 56px;
  top: 60%;
  position: fixed;
  right: 0px;
  z-index: 1050;
  box-shadow: rgb(24 144 255 / 20%) 0px 0px 0px 2px;
  background-color: rgb(230, 244, 255);
  color: var(--bs-primary);
  border-radius: 25% 0px 0px 25%;

  ::ng-deep.mantis-dark & {
    background: rgb(17, 26, 44);
  }

  ::ng-deep.mantis-rtl & {
    right: auto;
    left: 0px;
    border-radius: 0px 25% 25% 0px;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: var(--bs-primary);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 12px;
    font-size: 1.75rem;
  }
  &:hover {
    background-color: rgb(186, 231, 255);
  }
}

::ng-deep.new-comment {
  .form-control {
    background: $gray-100;
  }
}
::ng-deep.product-carousel-indicators {
  justify-content: flex-start;
}
::ng-deep.horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 6px;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: darken($gray-100, 05%);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($gray-100, 25%);
  }
}
.prod-select {
  background-image: none;
}
.animation:hover {
  transform: scale3d(1.02, 1.02, 1);
  transition: all 0.4s ease-in-out 0s;
}
::ng-deep.product-card {
  .card-img-top {
    position: relative;
    height: 220px;
    width: 100%;
    overflow: hidden;
    .img-prod {
      position: absolute;
      width: auto;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .prod-content {
    -webkit-line-clamp: 2;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    transform: scale3d(1.02, 1.02, 1);
    transition: all 0.4s ease-in-out 0s;
  }
}
::ng-deep.product-sticky {
  top: 85px;
}
::ng-deep.color-checkbox {
  position: relative;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  .form-check-input {
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 5;
    font-size: 22px;
    opacity: 0;
    &:checked {
      ~ i::after {
        content: '\ea5e';
        font-family: tabler-icons !important;
        line-height: 1;
        font-size: 14px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
        background: rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
      }
    }
  }
  i {
    font-size: 28px;
  }
}
::ng-deep.checkout-tabs {
  border-bottom: 0;
  .nav-item {
    margin-bottom: -0px;

    .nav-link {
      position: relative;
      padding: 0.8rem;
      margin: 0 0.2rem;
      font-weight: 500;
      color: $gray-900;
      display: flex;
      align-items: center;
      border-radius: var(--bs-border-radius) !important;
      p {
        margin-top: 0;
        font-weight: 400;
        opacity: 0.7;
      }
      .avatar {
        border-radius: 50%;
        i {
          font-size: 18px;
          svg {
            display: flex;
          }
        }
      }
    }
    @media (max-width: 575.98px) {
      width: 100%;
    }
  }

  .nav-link:hover {
    border-color: transparent;
    color: var(--bs-primary);
    p,
    h5 {
      color: var(--bs-primary);
    }
    .avatar {
      background-color: rgba(var(--bs-primary-rgb), 0.15);
      color: var(--bs-primary);
    }
  }

  .nav-item.show .nav-link,
  .nav-link.active {
    border-color: transparent;
    background-color: transparent;
    color: var(--bs-primary);
    p,
    h5 {
      color: var(--bs-primary);
    }
    .avatar {
      background-color: rgba(var(--bs-primary-rgb), 0.15);
      color: var(--bs-primary);
    }
  }
}

::ng-deep.cart-product-img {
  img {
    background: $gray-100;
  }
}

::ng-deep.payCard {
  background: $gray-100;
  .hide-number {
    font-weight: 600;
    font-size: 1.875rem;
    color: inherit;
    line-height: 0.5rem;
    font-family: auto;
  }
}

::ng-deep.change-address {
  i {
    font-size: 14px;
  }
}

.coupon-card {
  background-size: contain;
  background-position: right center;
  background-image: url('../../../../assets/images/application/discount.png');
}
.coupon-btn {
  border: 2px dashed;
}

// product like start

::ng-deep.prod-likes {
  position: relative;
  padding: 0;

  .prod-likes-icon {
    stroke: transparentize($gray-900, 0.5);
    fill: transparentize($gray-900, 0.8);
    z-index: 3;
  }

  .form-check-input {
    width: 20px;
    height: 20px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;

    &:checked {
      + .prod-likes-icon {
        stroke: var(--bs-danger);
        fill: transparentize(#ff4d4f, 0.2);
      }
    }
  }
}

.img-zoom {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 99;
  bottom: 15px;
  right: 20px;
}

::ng-deep.product-whitelist {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
  padding-left: 0;

  .prod-likes-icon {
    stroke: transparentize($gray-900, 0.5);
    fill: transparentize($gray-900, 0.8);
    z-index: 3;
  }

  .form-check-input {
    width: 20px;
    height: 20px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 5;
    cursor: pointer;

    &:checked {
      + .prod-likes-icon {
        stroke: var(--bs-danger);
        fill: transparentize(#ff4d4f, 0.2);
      }
    }
  }
}
::ng-deep.pc-like {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 10px;

  .pc-dots {
    &:nth-child(4) {
      &:before {
        transform: translate3d(-4px, -5px, 0);
      }

      &:after {
        transform: translate3d(4px, -5px, 0) scale(0.7);
      }
    }

    &:nth-child(3) {
      &:before {
        transform: translate3d(-5px, -4px, 0);
      }

      &:after {
        transform: translate3d(-5px, 4px, 0) scale(0.7);
      }
    }

    &:nth-child(2) {
      &:before {
        transform: translate3d(-4px, 5px, 0);
      }

      &:after {
        transform: translate3d(4px, 5px, 0) scale(0.7);
      }
    }

    &:first-child {
      &:before {
        transform: translate3d(5px, -4px, 0);
      }

      &:after {
        transform: translate3d(5px, 4px, 0) scale(0.7);
      }
    }

    &:after {
      background: var(--bs-danger);
    }

    &:before {
      background: var(--bs-warning);
    }
  }

  .like-wrapper {
    position: relative;
    display: inline-flex;
  }

  .pc-group {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
  }

  .pc-dots {
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      margin: -2px;
      border-radius: 50%;
    }
  }
}

// product like end
/**====== e-commerce css end ======**/
