<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Invites goal</h5>
      <div ngbDropdown placement="bottom-end">
        <a class="avatar avatar-s btn-link-secondary arrow-none" ngbDropdownToggle>
          <i class="f-18" antIcon type="more" theme="outline"></i>
        </a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem>Today</a>
          <a ngbDropdownItem>Weekly</a>
          <a ngbDropdownItem>Monthly</a>
        </div>
      </div>
    </div>
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [colors]="chartOptions.colors"
        [stroke]="chartOptions.stroke"
        [grid]="chartOptions.grid"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
    <div class="text-center">
      <span class="badge bg-light-success rounded-pill f-12 py-2 px-3">+10%</span>
      <p class="text-muted mb-1">You succeed earn $240 today, its higher than yesterday</p>

      <div class="row">
        <div class="col-4">
          <div class="text-center d-inline-block px-md-3">
            <p class="mb-1 text-muted">Target</p>
            <h5 class="d-inline-flex align-items-center gap-1 mb-0">
              $20k
              <i class="text-danger" antIcon type="arrow-down" theme="outline"></i>
            </h5>
          </div>
        </div>
        <div class="col-4">
          <div class="text-center d-inline-block px-md-3">
            <p class="mb-1 text-muted">Revenue</p>
            <h5 class="d-inline-flex align-items-center gap-1 mb-0">
              $16k
              <i class="text-success" antIcon type="arrow-up" theme="outline"></i>
            </h5>
          </div>
        </div>
        <div class="col-4">
          <div class="text-center d-inline-block px-md-3">
            <p class="mb-1 text-muted">Today</p>
            <h5 class="d-inline-flex align-items-center gap-1 mb-0">
              $1.5k
              <i class="text-danger" antIcon type="arrow-down" theme="outline"></i>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
