<div class="row">
  <div class="col-12">
    <app-card cardTitle="Course Add">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Course Name</label>
            <input type="text" class="form-control" placeholder="Enter first name" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Course Code</label>
            <input type="text" class="form-control" placeholder="Enter Course Code" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Start Form</label>
            <input type="date" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Course Duration</label>
            <input type="text" class="form-control" placeholder="Enter Course Duration" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Course Price</label>
            <input type="number" class="form-control" placeholder="Enter course price" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Teacher Name</label>
            <input type="text" class="form-control" placeholder="Enter Teacher name" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Maximum Students</label>
            <input type="number" class="form-control" placeholder="Enter maximum students" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Course Status</label>
            <select class="form-select">
              <option>Deactive</option>
              <option>Active</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Course Details</label>
            <textarea class="form-control" rows="3" placeholder="Enter course details"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <file-upload [control]="control" class="p-4">
              <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                @if (control.size === 0) {
                  <div class="d-flex align-items-center">
                    <div class="icon me-2">
                      <i class="d-flex text-primary f-24 f-w-600" antIcon theme="outline" type="upload"></i>
                    </div>
                    <div class="upload-text">
                      @if (isFileDragDropAvailable) {
                        <ng-container>Drag and drop Template or click here</ng-container>
                      } @else {
                        <ng-template>Click here to choose a Template</ng-template>
                      }
                    </div>
                  </div>
                }
              </ng-template>
              <ng-template let-i="index" let-file="file" let-control="control" #item>
                <div class="overlay">
                  <span class="delete-button" (click)="control.removeFile(file)">
                    <i class="ti ti-trash"></i>
                  </span>
                  @if (control.valid) {
                    <img [src]="uploadedFile | async" />
                  }
                </div>
              </ng-template>
            </file-upload>
          </div>
        </div>
        <div class="col-md-12 text-end">
          <button class="btn btn-primary">Create Course</button>
        </div>
      </div>
    </app-card>
  </div>
</div>
