<div class="row justify-content-center">
  <div class="col-12">
    <div class="alert-price-menu border rounded py-2 px-3 border-info d-flex mb-4">
      <i class="text-info f-16" antIcon theme="outline" type="info-circle"></i>
      <div class="ms-3">
        <div class="f-w-500 text-info mb-1">Σημείωση</div>
        <p class="mb-0">
          Οι τιμές που εμφανίζονται είναι μόνο για σκοπούς επίδειξης. Για τις πραγματικές τιμές του προϊόντος, παρακαλούμε ανατρέξτε στην επίσημη
          <a target="_blank" class="text-info f-w-500">σελίδα τιμών</a>.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-7">
            <div class="d-flex flex-column">
              <div class="d-flex mb-3 align-items-center">
                <h6 class="mb-0" [ngClass]="isChecked === true ? 'text-muted' : ''">Ετήσια χρέωση</h6>
                <div class="form-check form-switch p-0 mx-2">
                  <input
                    class="form-check-input h5 m-0 p-0"
                    type="checkbox"
                    role="switch"
                    id="price-switch"
                    [(ngModel)]="isChecked"
                  />
                </div>
                <h6 class="mb-0" [ngClass]="isChecked === false ? 'text-muted' : ''">Μηνιαία χρέωση</h6>
              </div>
            </div>

            <p class="mb-0 text-muted">
              Κείμενο περιγραφής (ενδεικτικό). Μπορείς να το αντικαταστήσεις με το δικό σου περιεχόμενο για τις συνδρομές/πακέτα και τα οφέλη τους.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      @for (price of priceCard; track price) {
        <div class="col-md-6 col-lg-4">
          <div class="card price-card">
            <div class="card-body">
              <div class="price-icon">
                <img src="{{ price.image }}" alt="img" class="img-fluid" />
                <h4 class="mb-0">{{ price.price_type }}</h4>
              </div>

              <p class="mt-4">
                Δημιούργησε ένα τελικό προϊόν για έναν πελάτη, παρέδωσέ το στον πελάτη σου και χρέωσέ τον για τις υπηρεσίες σου. Η άδεια χρήσης
                μεταβιβάζεται τότε στον πελάτη.
              </p>

              <div class="price-price my-4">
                ${{ isChecked === true ? price.yearly : price.monthly }}
                <span class="text-muted">Εφ’ όρου ζωής</span>
              </div>

              <div class="d-grid">
                <a class="btn {{ price.btn_type }} mb-4" href="javascript:" role="button">Παραγγελία τώρα</a>
              </div>

              <ul class="list-group list-group-flush product-list">
                @for (list of price.includeItems; track list) {
                  <li class="list-group-item" [ngClass]="list.available === true ? 'enable' : ''">
                    {{ list.title }}
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
