<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="theme logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="mb-4">
            <h3 class="mb-2"><b>Επαναφορά Κωδικού</b></h3>
            <p class="text-muted">Παρακαλώ επιλέξτε νέο κωδικό</p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Password">Κωδικός</label>
            <input type="password" id="Password" class="form-control" placeholder="Κωδικός" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Conform Password">Επιβεβαίωση Κωδικού</label>
            <input type="password" id="Conform Password" class="form-control" placeholder="Επιβεβαίωση Κωδικού" />
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary">Επαναφορά Κωδικού</button>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="/" target="_blank">Building Manager</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="/" target="_blank">Αρχική Σελίδα</a></li>
            <li class="list-inline-item"><a href="/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/" target="_blank">Επικοινωνία</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
