<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="theme logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="mb-4">
            <h3 class="mb-2"><b>Reset Password</b></h3>
            <p class="text-muted">Please choose your new password</p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Password">Password</label>
            <input type="password" id="Password" class="form-control" placeholder="Password" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="Conform Password">Confirm Password</label>
            <input type="password" id="Conform Password" class="form-control" placeholder="Confirm Password" />
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary">Reset Password</button>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="https://codedthemes.com/" target="_blank">CodedThemes</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Home</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
