<app-card cardTitle="Πρόσκληση Μελών Ομάδας" [padding]="0" footerClass="text-end btn-page">
  <div class="table-top p-4">
    <h4>
      5/10
      <small>μέλη διαθέσιμα στο πρόγραμμά σας.</small>
    </h4>
    <hr class="my-3" />
    <div class="row">
      <div class="col-md-8">
        <div class="form-group mb-0">
          <label class="form-label">Διεύθυνση Email</label>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Εισάγετε το email σας" />
            </div>
            <div class="col-auto">
              <button class="btn btn-primary">Αποστολή</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>ΜΕΛΟΣ</th>
          <th>ΡΟΛΟΣ</th>
          <th class="text-end">ΚΑΤΑΣΤΑΣΗ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (table of tables; track table) {
          <tr>
            <td>
              <div class="row">
                <div class="col-auto pe-0">
                  <img src="{{ table.src }}" alt="user-image" class="wid-40 rounded-circle" />
                </div>
                <div class="col">
                  <h6 class="mb-0">{{ table.name }}</h6>
                  <p class="text-muted f-12 mb-0">{{ table.email }}</p>
                </div>
              </div>
            </td>
            <td>
              <span class="badge {{ table.role_type }}">{{ table.role }}</span>
            </td>
            <td class="text-end">
              @if (table.status === true) {
                <a href="javascript:" title="Κατάσταση" class="btn btn-link-danger">Επαναποστολή</a>
              }
              <span class="badge {{ table.status_type }}" title="Κατάσταση">{{ table.status_1 }}</span>
            </td>
            <td class="text-end">
              <a href="javascript:" class="avatar avatar-s btn-link-secondary" title="Επεξεργασία"><i class="ti ti-dots f-18"></i></a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <ng-template #footerTemplate>
    <div class="btn btn-link-danger">Ακύρωση</div>
    <div class="btn btn-primary">Αποθήκευση Αλλαγών</div>
  </ng-template>
</app-card>
