<app-card cardTitle="Μέλη Πολυκατοικίας" [padding]="0" footerClass="text-end btn-page">
  <div *ngIf="hasRole('BuildingManager')" class="table-top p-4">
    <h3>Πρόσκληση Νέων Μελών</h3>
    <h4>
      {{ tables.length }}
      <small>μέλη που έχουν συνδεθεί στην Πολυκατοικία.</small>
    </h4>
    <hr class="my-3" />
    <div class="row">
      <div class="col">
        <input type="email" class="form-control" placeholder="Εισάγετε το email για να σταλθεί η Πρόσκληση" [(ngModel)]="emailToInvite" [disabled]="isSending" />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="sendInvite()" [disabled]="isSending">
          <span *ngIf="isSending" class="spinner-border spinner-border-sm me-2"></span>
          Αποστολή
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>ΜΕΛΟΣ</th>
          <th>ΡΟΛΟΣ</th>
          <th class="text-end">ΚΑΤΑΣΤΑΣΗ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tables">
          <td>
            <div class="row">
              <div class="col-auto pe-0">
                <img src="assets/images/user/avatar-1.jpg" alt="user-image" class="wid-40 rounded-circle" />
              </div>
              <div class="col">
                <h6 class="mb-0">{{ table.name }}</h6>
                <p class="text-muted f-12 mb-0">{{ table.email }}</p>
              </div>
            </div>
          </td>
          <td>
            <span
              [ngClass]="{
                'badge bg-primary': table.role === 'Owner',
                'badge bg-info': table.role === 'Resident',
                'badge bg-warning': table.role === 'BuildingManager',
                'badge bg-dark': table.role === 'PropertyManager'
              }"
            >
              {{ getTranslatedRole(table.role) }}
            </span>
          </td>
          <td class="text-end">
            <span
              [ngClass]="{
                'badge bg-success': table.status === 'Joined',
                'badge bg-outline-info': table.status === 'Invited'
              }"
            >
              {{ getTranslatedStatus(table.status) }}
            </span>
          </td>
          <td class="text-end">
            <a href="javascript:" class="avatar avatar-s btn-link-secondary" title="Επεξεργασία">
              <i class="ti ti-dots f-18"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <ng-template #footerTemplate>
    <div class="btn btn-link-danger">Ακύρωση</div>
    <div class="btn btn-primary">Αποθήκευση Αλλαγών</div>
  </ng-template> -->
</app-card>
