<!-- banner -->
<div class="welcome-card">
  <div class="body">
    <div class="d-flex flex-wrap">
      <div class="row w-100">
        <div class="col-sm-6 col-xs-12">
          <div class="info-section">
            <h2 class="">Καλώς Ήρθατε στο Building Manager</h2>
            <h6 class="my-3 f-w-400">
              Πάρτε τον έλεγχο των κοινωστήστων σας με το Building Manager. Παρακολουθήστε την πρόοδο, διαχειριστείτε τις εργασίες και
              επικοινωνήστε με τους ενοίκους εύκολα και αποτελεσματικά.
            </h6>
            <button routerLink="/dashboard/analytics" class="btn btn-outline-light">Δείτε Περισσότερα</button>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="pe-5 d-flex flex-column justify-content-center align-items-end position-relative">
            <img src="assets/images/analytics/welcome-banner.png" alt="welcome" />
            <div class="sub-img">
              <img src="assets/images/analytics/welcome-arrow.png" alt="welcome-arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- forma  1 -->
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Έλεγχος Στοιχείων">
      <ng-container *ngIf="currentStep === 1">
        <app-user-form></app-user-form>
      </ng-container>
      <!-- forma2 -->
      <ng-container *ngIf="currentStep === 2" class="text-center mt-4">
        <app-role-form (actionSelected)="onActionSelected($event)"></app-role-form>
      </ng-container>
      <!-- forma3 -->
      <ng-container *ngIf="currentStep === 3">
        <div class="d-flex justify-content-center flex-wrap gap-2">
          <app-multiple-building-form
            *ngIf="selectedAction === 'many'"
            [selectedAction]="selectedAction"
            (backClicked)="previousStep()"
          ></app-multiple-building-form>
          <app-building-form
            *ngIf="selectedAction === 'new'"
            [selectedAction]="selectedAction"
            (backClicked)="previousStep()"
            (formSubmitted)="onBuildingFormCompleted()"
          ></app-building-form>
          <app-existing-building-form
            *ngIf="selectedAction === 'existing'"
            [selectedAction]="selectedAction"
            (backClicked)="previousStep()"
          ></app-existing-building-form>
        </div>
      </ng-container>
      <!-- forma4 -->
      <ng-container *ngIf="currentStep === 4">
        <app-apartment-form></app-apartment-form>
      </ng-container>
    </app-card>
  </div>
</div>
