<!-- banner -->
<div class="welcome-card">
  <div class="body">
    <div class="d-flex flex-wrap">
      <div class="row w-100">
        <div class="col-sm-6 col-xs-12">
          <div class="info-section">
            <h2 class="">Καλώς Ήρθατε στο Building Manager</h2>
            <h6 class="my-3 f-w-400">
              Πάρτε τον έλεγχο των κοινωστήστων σας με το Building Manager. Παρακολουθήστε την πρόοδο, διαχειριστείτε τις εργασίες και επικοινωνήστε με τους ενοίκους εύκολα και αποτελεσματικά.
            </h6>
            <button routerLink="/dashboard/analytics" class="btn btn-outline-light">Δείτε Περισσότερα</button>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="pe-5 d-flex flex-column justify-content-center align-items-end position-relative">
            <img src="assets/images/analytics/welcome-banner.png" alt="welcome" />
            <div class="sub-img">
              <img src="assets/images/analytics/welcome-arrow.png" alt="welcome-arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- forma 1 -->
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Έλεγχος Στοιχείων">
      <form #validationForm="ngForm" *ngIf="currentStep === 1" class="editForm" novalidate>
        <h5 class="mb-3">Βήμα 1: Επιλογή Ρόλου</h5>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label">Επιλογή Ρόλου</label>
            <select
              class="form-control"
              name="roles"
              required
              [(ngModel)]="formInput.roles"
              #roles="ngModel"
              [ngClass]="{
                'is-invalid': roles.invalid && (roles.touched || validationForm.submitted)
              }"
            >
              <option value="">-- Επιλέξτε ρόλο --</option>
              <option value="PropertyManager">Διαχειριστής Ακινήτων</option>
              <option value="BuildingManager">Διαχειριστής Κτιρίου</option>
              <option value="Owner">Ιδιοκτήτης</option>
              <option value="Resident">Ένοικος</option>
            </select>
            <label *ngIf="roles.invalid && (roles.touched || validationForm.submitted)" class="error small form-text invalid-feedback">
              Παρακαλώ επιλέξτε έναν ρόλο.
            </label>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary" (click)="nextStep(validationForm, formInput.roles)">Επόμενο Βήμα</button>
        </div>
      </form>
      <!-- forma 2 -->
      <form #userForm="ngForm" *ngIf="currentStep === 2" class="editForm" novalidate>
        <h5 class="mb-3">Βήμα 2: Εισαγωγή Στοιχείων Χρήστη</h5>
        <!-- Τηλέφωνο -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">Τηλέφωνο</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              required
              minlength="10"
              maxlength="12"
              [(ngModel)]="formInput.phone"
              #phone="ngModel"
              [ngClass]="{
                'is-invalid': phone.invalid && (phone.touched || userForm.submitted)
              }"
            />
            <label *ngIf="phone.invalid && (phone.touched || userForm.submitted)" class="error small form-text invalid-feedback">
              Παρακαλώ εισάγετε έγκυρο τηλέφωνο.
            </label>
          </div>
        </div>
        <!-- Διεύθυνση -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">Διεύθυνση</label>
            <textarea
              class="form-control"
              name="address"
              required
              [(ngModel)]="formInput.address"
              #address="ngModel"
              [ngClass]="{
                'is-invalid': address.invalid && (address.touched || userForm.submitted)
              }"
            ></textarea>
            <label *ngIf="address.invalid && (address.touched || userForm.submitted)" class="error small form-text invalid-feedback">
              Η διεύθυνση είναι υποχρεωτική.
            </label>
          </div>
        </div>
        <!-- Buttons -->
        <div class="form-group text-center">
          <button type="button" class="btn btn-secondary me-2" (click)="previousStep()">Πίσω</button>
          <button type="button" class="btn btn-primary" (click)="nextStep(userForm, { phone: formInput.phone, address: formInput.address })">Επόμενο Βήμα</button>
        </div>
      </form>
      <!-- forma3 -->
      <form #finalForm="ngForm" *ngIf="currentStep === 3" class="editForm" novalidate>
        <h5 class="mb-3">Βήμα 3: Επιπλέον Στοιχεία</h5>
        <div class="row">
          <!-- Όνομα -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Όνομα</label>
              <input
                type="text"
                class="form-control"
                name="firstName"
                required
                placeholder="Εισάγετε το όνομά σας"
                [(ngModel)]="formInput.firstName"
                #firstName="ngModel"
                [ngClass]="{
                  'is-invalid': firstName.invalid && (firstName.touched || finalForm.submitted)
                }"
              />
              <label *ngIf="firstName.invalid && (firstName.touched || finalForm.submitted)" class="error small form-text invalid-feedback">
                Το όνομα είναι υποχρεωτικό.
              </label>
            </div>
          </div>
          <!-- Επώνυμο -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Επώνυμο</label>
              <input
                type="text"
                class="form-control"
                name="lastName"
                required
                placeholder="Εισάγετε το επώνυμό σας"
                [(ngModel)]="formInput.lastName"
                #lastName="ngModel"
                [ngClass]="{
                  'is-invalid': lastName.invalid && (lastName.touched || finalForm.submitted)
                }"
              />
              <label *ngIf="lastName.invalid && (lastName.touched || finalForm.submitted)" class="error small form-text invalid-feedback">
                Το επώνυμο είναι υποχρεωτικό.
              </label>
            </div>
          </div>
          <!-- Email -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                required
                email
                placeholder="example@domain.com"
                [(ngModel)]="formInput.email"
                #email="ngModel"
                [ngClass]="{
                  'is-invalid': email.invalid && (email.touched || finalForm.submitted)
                }"
              />
              <label *ngIf="email.invalid && (email.touched || finalForm.submitted)" class="error small form-text invalid-feedback">
                Μη έγκυρο email.
              </label>
            </div>
          </div>
          <!-- Κωδικός -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Κωδικός</label>
              <input
                type="password"
                class="form-control"
                name="password"
                required
                minlength="6"
                placeholder="********"
                [(ngModel)]="formInput.password"
                #password="ngModel"
                [ngClass]="{
                  'is-invalid': password.invalid && (password.touched || finalForm.submitted)
                }"
              />
              <label *ngIf="password.invalid && (password.touched || finalForm.submitted)" class="error small form-text invalid-feedback">
                Ο κωδικός πρέπει να έχει τουλάχιστον 6 χαρακτήρες.
              </label>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Επιβεβαίωση Κωδικού</label>
              <input
                type="password"
                class="form-control"
                name="confirmPassword"
                required
                placeholder="********"
                [(ngModel)]="formInput.confirmPassword"
                #confirmPassword="ngModel"
                [ngClass]="{
                  'is-invalid': formInput.password !== formInput.confirmPassword && (confirmPassword.touched || finalForm.submitted)
                }"
              />
              <label
                *ngIf="formInput.password !== formInput.confirmPassword && (confirmPassword.touched || finalForm.submitted)"
                class="error small form-text invalid-feedback"
              >
                Οι κωδικοί δεν ταιριάζουν.
              </label>
            </div>
          </div>
        </div>
        <!-- Buttons -->
        <div class="form-group text-center">
          <button type="button" class="btn btn-secondary me-2" (click)="previousStep()">Πίσω</button>
          <button type="button" class="btn btn-success" (click)="submitForm(finalForm)">Υποβολή</button>
        </div>
      </form>
    </app-card>
  </div>
</div>
