<!-- Κεντρικό Welcome Banner -->
<div class="welcome-card">
  <div class="body">
    <div class="d-flex flex-wrap">
      <div class="row w-100">
        <div class="col-sm-6 col-xs-12">
          <div class="info-section">
            <h2>Καλώς Ήρθατε στο Building Manager</h2>
            <h6 class="my-3 f-w-400">
              Πάρτε τον έλεγχο των κοινοχρήστων σας με το Building Manager. Παρακολουθήστε την πρόοδο, διαχειριστείτε τις εργασίες και
              επικοινωνήστε με τους ενοίκους εύκολα και αποτελεσματικά.
            </h6>
            <button routerLink="/dashboard/analytics" class="btn btn-outline-light">Δείτε Περισσότερα</button>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="pe-5 d-flex flex-column justify-content-center align-items-end position-relative">
            <img src="assets/images/analytics/welcome-banner.png" alt="welcome" />
            <div class="sub-img">
              <img src="assets/images/analytics/welcome-arrow.png" alt="welcome-arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-12">
    <app-card cardTitle="Έλεγχος Στοιχείων">
      
      <ng-container *ngIf="currentStep() === 1">
        <app-role-form (actionSelected)="onActionSelected($event)"></app-role-form>
      </ng-container>

      <ng-container *ngIf="currentStep() === 2 && selectedAction()">
        <app-building-setup
          [action]="selectedAction()!"
          (completed)="onBuildingSetupCompleted($event)"
          (back)="previousStep()"
        ></app-building-setup>
      </ng-container>

      <ng-container *ngIf="currentStep() === 3">
        <app-apartment-form
          [buildingId]="buildingId!"
          [buildingMeta]="buildingMeta"
          (backClicked)="previousStep()"
          (finished)="onWizardFinished()"
        ></app-apartment-form>
      </ng-container>
    </app-card>
  </div>
</div>
