<div class="row">
  <div class="col-lg-6">
    <app-card cardTitle="Πληροφορίες Διαμερίσματος" [padding]="24">
      <div class="row">
        <div class="col-sm-12 text-center mb-3">
          <div class="user-upload wid-75">
            <img src="assets/images/user/avatar-4.jpg" alt="img" class="img-fluid" />
            <label for="uplfile" class="img-avatar-upload">
              <i class="ti ti-camera f-24 mb-1"></i>
              <span>Upload</span>
            </label>
            <input type="file" id="uplfile" class="d-none" />
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onUpdate()">
          <div class="row g-3">
            <div class="col-md-6">
              <label>Ονοματεπώνυμο Ιδιοκτήτη</label>
              <input type="text" class="form-control" formControlName="fullName" />
            </div>

            <div class="col-md-6">
              <label>Ενοικιαζόμενο</label>
              <select class="form-control" formControlName="isRented">
                <option value="">Επιλογή</option>
                <option value="true">Ναι</option>
                <option value="false">Όχι</option>
              </select>
            </div>

            <div class="col-md-6" *ngIf="form.get('isRented')?.value === 'true'">
              <label>Ονοματεπώνυμο Ενοικιαστή</label>
              <input type="text" class="form-control" formControlName="tenantFullName" />
            </div>

            <div class="col-md-6">
              <label>Αριθμός Διαμερίσματος</label>
              <input type="text" class="form-control" formControlName="apartmentNumber" />
            </div>
            <div class="col-md-6">
              <label>Όροφος</label>
              <input type="text" class="form-control" formControlName="floor" />
            </div>
            <div class="col-md-6">
              <label>Τετραγωνικά Διαμερίσματος</label>
              <input type="number" class="form-control" formControlName="sqMetersApart" />
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <label>Διαθέτει Πάρκινγκ</label>
                <select class="form-control" formControlName="hasParking">
                  <option value="true">Ναι</option>
                  <option value="false">Όχι</option>
                </select>
              </div>
              <div class="col-md-6" *ngIf="form.get('hasParking')?.value === 'true'">
                <label>Αριθμός Θέσης Πάρκινγκ</label>
                <input type="text" class="form-control" formControlName="parkingSlot" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Διαθέτει Αποθήκη</label>
                <select class="form-control" formControlName="hasStorage">
                  <option value="true">Ναι</option>
                  <option value="false">Όχι</option>
                </select>
              </div>
              <div class="col-md-6" *ngIf="form.get('hasStorage')?.value === 'true'">
                <label>Αριθμός Αποθήκης</label>
                <input type="text" class="form-control" formControlName="storageSlot" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Ποσοστό Κοινόχρηστων</label>
                <input type="number" class="form-control" formControlName="commonPercent" />
              </div>
              <div class="col-md-4">
                <label>Ποσοστό Ασανσέρ</label>
                <input type="number" class="form-control" formControlName="elevatorPercent" />
              </div>
              <div class="col-md-4">
                <label>Ποσοστό Θέρμανσης</label>
                <input type="number" class="form-control" formControlName="heatingPercent" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Πληροφορίες Επικοινωνίας" [padding]="24">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="form-label" for="Contact Number">Τηλέφωνο Επικοινωνίας</label>
            <input type="text" id="Contact Number" class="form-control" value="(+99) 9999 999 999" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="form-label" for="Email Address">
              Διεύθυνση Email
              <span class="text-danger">*</span>
            </label>
            <input type="email" id="Email Address" class="form-control" value="demo@sample.com" />
          </div>
        </div>
        <!-- <div class="col-sm-12">
          <div class="form-group">
            <label class="form-label">Portfolio Url</label>
            <input type="text" class="form-control" value="https://demo.com" placeholder="Enter Your URl" />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label class="form-label" for="Address">Address</label>
            <textarea class="form-control" id="Address" placeholder="Leave a comment here">
3379  Monroe Avenue, Fort Myers, Florida(33912)</textarea
            >
          </div>
        </div> -->
      </div>
    </app-card>
    <app-card cardTitle="Social Network" [padding]="24">
      @for (task of social_media; track task) {
        <div class="d-flex align-items-center {{ task.style }}">
          <div class="flex-grow-1 me-3">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="f-16 {{ task.background }}" antIcon type="{{ task.icon }}" theme="fill"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="mb-0">{{ task.name }}</h6>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0">
            @if (task.icon === 'facebook') {
              <a href="javascript:" class="text-facebook">Anshan Handgun</a>
            } @else {
              <button class="btn btn-link-danger">Connect</button>
            }
          </div>
        </div>
      }
    </app-card>
  </div>
  <div class="mt-4 text-end">
    <button type="button" class="btn btn-secondary me-2" (click)="toggleEdit()">
      {{ isEditing ? 'Ακύρωση' : 'Επεξεργασία' }}
    </button>
    <button type="submit" class="btn btn-success" [disabled]="!isEditing">Αποθήκευση</button>
  </div>
</div>
