<div class="row">
  <div class="col-lg-6">
    <app-card cardTitle="Simple Action Bar" footerClass="border-0 pt-0">
      <form>
        <div class="form-group mb-0">
          <label class="form-label">Name:</label>
          <input type="email" class="form-control" placeholder="Enter Name" />
          <small class="form-text text-muted">Please enter your Name</small>
        </div>
      </form>
      <ng-template #footerTemplate>
        <button class="btn btn-primary me-2">Submit</button>
        <button class="btn btn-secondary">Clear</button>
      </ng-template>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Right Align Action Bar" footerClass="text-end border-0 pt-0">
      <form>
        <div class="form-group mb-0">
          <label class="form-label">Name:</label>
          <input type="email" class="form-control" placeholder="Enter Name" />
          <small class="form-text text-muted">Please enter your Name</small>
        </div>
      </form>
      <ng-template #footerTemplate>
        <button class="btn btn-primary me-2">Submit</button>
        <button class="btn btn-secondary">Clear</button>
      </ng-template>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Action Button with Link" footerClass="text-end border-0 pt-0">
      <form>
        <div class="form-group mb-0">
          <label class="form-label">Name:</label>
          <input type="email" class="form-control" placeholder="Enter Name" />
          <small class="form-text text-muted">Please enter your Name</small>
        </div>
      </form>
      <ng-template #footerTemplate>
        <button type="reset" class="btn btn-primary">Submit</button>
        <span class="ms-2">
          or
          <a href="javascript:" class="ms-2">Clear</a>
        </span>
      </ng-template>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Horizontal Form" cardClass="action-footer" footerClass="bg-gray-100 border-0">
      <form>
        <div class="form-group row mb-0">
          <label class="col-lg-4 col-form-label">Name:</label>
          <div class="col-lg-6">
            <input type="email" class="form-control" placeholder="Enter Name" />
            <small class="form-text text-muted">Please enter your Name</small>
          </div>
        </div>
      </form>
      <ng-template #footerTemplate>
        <div class="row">
          <label class="col-lg-4"></label>
          <div class="col-lg-8">
            <button class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-secondary">Clear</button>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card cardTitle="Layout With Side Action Button" footerClass=" border-0 pt-0">
      <form>
        <div class="form-group">
          <label class="form-label">Name:</label>
          <input type="email" class="form-control" placeholder="Enter Name" />
          <small class="form-text text-muted">Please enter your Name</small>
        </div>
      </form>
      <ng-template #footerTemplate>
        <div class="row">
          <div class="col-lg-6">
            <button type="reset" class="btn btn-primary me-2">Save</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
          </div>
          <div class="col-lg-6 text-end">
            <button type="reset" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
  <div class="col-lg-6">
    <app-card
      cardTitle="Top & Bottom Actions Bars"
      cardClass="action-footer"
      blockClass="p-0"
      footerClass="text-center bg-gray-100 border-0"
    >
      <div class="card-body border-bottom">
        <div class="row align-items-center">
          <div class="col-lg-6">Top Actions:</div>
          <div class="col-lg-6 text-sm-end mt-3 mt-sm-0">
            <button type="reset" class="btn btn-primary me-2">Submit</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group mb-0">
            <label class="form-label">Name:</label>
            <input type="email" class="form-control" placeholder="Enter Name" />
            <small class="form-text text-muted">Please enter your Name</small>
          </div>
        </form>
      </div>
      <ng-template #footerTemplate>
        <button class="btn btn-primary me-2">Submit</button>
        <button class="btn btn-secondary">Clear</button>
      </ng-template>
    </app-card>
  </div>
</div>
