<div class="row">
  <div class="col-xxl-8">
    <div class="row g-3 mb-3">
      @for (cards of widgetCards; track cards) {
        <div class="col-md-6 col-lg-4">
          <div class="card mb-0">
            <div class="card-body">
              <div class="mb-2 d-flex align-items-center justify-content-between gap-1">
                <h6 class="mb-0">{{ cards.title }}</h6>
                <p class="mb-0 text-muted d-flex align-items-center gap-1">
                  <i
                    antIcon
                    type="{{ cards.isLoss === true ? 'caret-down' : 'caret-up' }}"
                    theme="outline"
                    class="f-14 d-flex {{ cards.color }}"
                  ></i>
                  {{ cards.percentage }}%
                </p>
              </div>
              <div class="row g-2 align-items-center">
                <div class="col-6">
                  <h5 class="mb-2 mt-3">{{ cards.value }}</h5>
                  <div class="d-flex align-items-center gap-1">
                    <p class="mb-0 text-muted d-flex align-items-center gap-2">Παραστατικά:</p>
                    <h5 class="mb-0">{{ cards.invoice }}</h5>
                  </div>
                </div>
                <div class="col-6">
                  <app-invoice-list-chart [seriesData]="cards.data" [colors]="cards.colors" />
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="col-xxl-4">
    <app-card [showHeader]="false" [padding]="14" cardClass="total-recievables">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-s bg-primary">
            <i antIcon type="bank" theme="outline" class="text-white d-flex f-20"></i>
          </div>
          <div class="ms-2">
            <p class="mb-0 text-white">Συνολικό Ποσό Εκκρεμών Πληρωμών</p>
            <p class="mb-0 text-white text-sm">
              Τελευταία Ημερομηνία Λήξης:
              {{ summary?.lastDueDate | date: 'dd/MM/yyyy' }}
            </p>
          </div>
        </div>
        <div class="text-end">
          <p class="mb-0 text-white text-sm">Απομένουν</p>
          <p class="mb-0 text-white">{{ summary?.totalPending | number: '1.2-2' }} €</p>
        </div>
      </div>

      <h4 class="mt-3 text-white mb-1">
        {{ summary?.totalAmount | currency: 'EUR' : 'symbol' : '1.2-2' }}
      </h4>

      <div class="d-flex align-items-center">
        <div class="flex-grow-1 me-3">
          <ngb-progressbar type="warning" [value]="summary?.percentPaid" height="7px"></ngb-progressbar>
        </div>
        <div class="flex-shrink-0 text-end wid-30">
          <p class="text-white mb-0">{{ summary?.percentPaid | number: '1.0-0' }}%</p>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body pb-0">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs profile-tabs mb-3">
          <li [ngbNavItem]="1">
            <button ngbNavLink>
              Όλα
              <span class="avatar bg-light-primary lh-1">{{ totalCount }}</span>
            </button>
            <ng-template ngbNavContent>
              <app-invoice-list-table [statements]="statements" />
            </ng-template>
          </li>

          <li [ngbNavItem]="2">
            <button ngbNavLink>
              Πληρώθηκαν
              <span class="avatar bg-light-success lh-1">{{ paidCount }}</span>
            </button>
            <ng-template ngbNavContent>
              <app-invoice-list-table [statements]="paidStatements" />
            </ng-template>
          </li>

          <li [ngbNavItem]="3">
            <button ngbNavLink>
              Εκδόθηκε
              <span class="avatar bg-light-warning lh-1">{{ pendingCount }}</span>
            </button>
            <ng-template ngbNavContent>
              <app-invoice-list-table [statements]="pendingStatements" />
            </ng-template>
          </li>

          <li [ngbNavItem]="4">
            <button ngbNavLink>
              Έληξαν
              <span class="avatar bg-light-danger lh-1">{{ overdueCount }}</span>
            </button>
            <ng-template ngbNavContent>
              <app-invoice-list-table [statements]="overdueStatements" />
            </ng-template>
          </li>

          <li [ngbNavItem]="5">
            <button ngbNavLink>
              Ακυρωμένα
              <span class="avatar bg-light-danger lh-1">{{ closedCount }}</span>
            </button>
            <ng-template ngbNavContent>
              <app-invoice-list-table [statements]="closedStatements" />
            </ng-template>
          </li>

          <li [ngbNavItem]="6">
            <button ngbNavLink>
              Πρόχειρα
              <span class="avatar bg-light-primary lh-1">{{ draftCount }}</span>
            </button>
            <ng-template ngbNavContent>
              <app-invoice-list-table [statements]="draftStatements" />
            </ng-template>
          </li>
        </ul>
      </div>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
