<!-- [ Main Content ] start -->
<div class="row">
  <!-- [ form-element ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Switch [ v1 ]</h5>
      </div>
      <div class="card-body">
        <div class="row switch-demo">
          <div class="col-md-4">
            <div class="form-group">
              <h5>Default Switch</h5>
              <hr />
              @for (item of switches; track item; let i = $index) {
                <div class="form-check form-switch mb-2">
                  <input type="checkbox" class="form-check-input {{ item.class }}" id="customswitchv{{ i }}" checked />
                  <label class="form-check-label" for="customswitchv{{ i }}">{{ item.label }}</label>
                </div>
              }
              <small class="form-text text-muted">
                Use class
                <code>input-[color name]</code>
                in
                <code>&lt;input&gt;</code>
                tag
              </small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <h5>Custom Switch</h5>
              <hr />
              @for (item of switches; track item; let i = $index) {
                <div class="form-check form-switch custom-switch-v1 mb-2">
                  <input type="checkbox" class="form-check-input {{ item.class }}" id="customswitchv{{ i }}" checked />
                  <label class="form-check-label" for="customswitchv{{ i }}">{{ item.label }}</label>
                </div>
              }
              <small class="form-text text-muted">
                Use class
                <code>custom-switch-v1</code>
                in
                <code>&lt;div&gt;</code>
                tag
              </small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <h5>Color States</h5>
              <hr />
              @for (item of switches_light; track item; let i = $index) {
                <div class="form-check form-switch custom-switch-v1 mb-2">
                  <input type="checkbox" class="form-check-input {{ item.class }}" id="customswitchv{{ i }}" checked />
                  <label class="form-check-label" for="customswitchv{{ i }}">{{ item.label }}</label>
                </div>
              }
              <small class="form-text text-muted">
                Use class
                <code>input-light-[color name]</code>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5>Inline Switch</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-check form-switch custom-switch-v1 form-check-inline">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckinl1" />
              <label class="form-check-label" for="customCheckinl1">Inline 1</label>
            </div>
            <div class="form-check form-switch custom-switch-v1 form-check-inline">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckinl2" />
              <label class="form-check-label" for="customCheckinl2">Inline 2</label>
            </div>
            <div class="form-check form-switch custom-switch-v1 form-check-inline">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckinl3" />
              <label class="form-check-label" for="customCheckinl3">Inline 3</label>
            </div>
          </div>
          <div class="form-group">
            <label class="d-block text-muted mb-3">With Checked State</label>
            <div class="form-check form-switch custom-switch-v1 form-check-inline">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckinl4" checked />
              <label class="form-check-label" for="customCheckinl4">Inline 1</label>
            </div>
            <div class="form-check form-switch custom-switch-v1 form-check-inline">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckinl5" />
              <label class="form-check-label" for="customCheckinl5">Inline 2</label>
            </div>
            <div class="form-check form-switch custom-switch-v1 form-check-inline">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckinl6" checked />
              <label class="form-check-label" for="customCheckinl6">Inline 3</label>
            </div>
            <br />
            <small class="form-text text-muted">
              Use class
              <code>form-check-inline</code>
            </small>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Switch in Horizontal Form</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label class="col-3 col-form-label p-t-0 p-b-0">Switches</label>
            <div class="col-9">
              <div class="form-check form-switch custom-switch-v1 mb-2">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckdefh1" />
                <label class="form-check-label" for="customCheckdefh1">Default</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 mb-2">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckdefh2" />
                <label class="form-check-label" for="customCheckdefh2">Option 2</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 mb-2">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckdefh3" disabled />
                <label class="form-check-label" for="customCheckdefh3">Disabled</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 mb-2">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckdefh4" checked />
                <label class="form-check-label" for="customCheckdefh4">Checked</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label p-t-0 p-b-0">Inline Switches</label>
            <div class="col-9">
              <div class="form-check form-switch custom-switch-v1 form-check-inline">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckinlh1" />
                <label class="form-check-label" for="customCheckinlh1">Inline 1</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 form-check-inline">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckinlh2" />
                <label class="form-check-label" for="customCheckinlh2">Inline 2</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 form-check-inline">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckinlh3" />
                <label class="form-check-label" for="customCheckinlh3">Inline 3</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label p-t-0 p-b-0">Inline States</label>
            <div class="col-9">
              <div class="form-check form-switch custom-switch-v1 form-check-inline">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckinlh4" checked />
                <label class="form-check-label" for="customCheckinlh4">Inline 1</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 form-check-inline">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckinlh5" />
                <label class="form-check-label" for="customCheckinlh5">Inline 2</label>
              </div>
              <div class="form-check form-switch custom-switch-v1 form-check-inline">
                <input type="checkbox" class="form-check-input input-primary" id="customCheckinlh6" checked />
                <label class="form-check-label" for="customCheckinlh6">Inline 3</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5>Sizing</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>Small Switches</label>
            <div class="form-check form-switch switch-sm">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefcol1" />
              <label class="form-check-label" for="customCheckdefcol1">Default</label>
            </div>
            <div class="form-check form-switch switch-sm">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefcol2" />
              <label class="form-check-label" for="customCheckdefcol2">Option 2</label>
            </div>
            <div class="form-check form-switch switch-sm">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefcol3" disabled />
              <label class="form-check-label" for="customCheckdefcol3">Disabled</label>
            </div>
            <div class="form-check form-switch switch-sm">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefcol4" checked />
              <label class="form-check-label" for="customCheckdefcol4">Checked</label>
            </div>
            <small class="form-text text-muted">Some help text goes here</small>
          </div>
          <div class="form-group">
            <label>Large Switches</label>
            <div class="form-check form-switch switch-lg">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefout1" />
              <label class="form-check-label" for="customCheckdefout1">Default</label>
            </div>
            <div class="form-check form-switch switch-lg">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefout2" />
              <label class="form-check-label" for="customCheckdefout2">Option 2</label>
            </div>
            <div class="form-check form-switch switch-lg">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefout3" disabled />
              <label class="form-check-label" for="customCheckdefout3">Disabled</label>
            </div>
            <div class="form-check form-switch switch-lg">
              <input type="checkbox" class="form-check-input input-primary" id="customCheckdefout4" checked />
              <label class="form-check-label" for="customCheckdefout4">Checked</label>
            </div>
            <small class="form-text text-muted">Some help text goes here</small>
          </div>
          <div class="form-group">
            <label>Color States</label>
            @for (item of switches; track item; let i = $index) {
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input {{ item.class }}" id="customswitchv{{ i }}" checked />
                <label class="form-check-label" for="customswitchv{{ i }}">{{ item.label }}</label>
              </div>
            }
            <small class="form-text text-muted">Some help text goes here</small>
          </div>
          <div class="form-group">
            <label>Color States</label>
            @for (item of switches_light; track item; let i = $index) {
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input {{ item.class }}" id="customswitchv{{ i }}" checked />
                <label class="form-check-label" for="customswitchv{{ i }}">{{ item.label }}</label>
              </div>
            }
            <small class="form-text text-muted">Some help text goes here</small>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- [ form-element ] end -->
</div>
<!-- [ Main Content ] end -->
