<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="File Upload">
      <form [formGroup]="demoForm">
        <file-upload formControlName="files" [multiple]="multiple" [animation]="animation"></file-upload>
      </form>
      <ng-template #footerTemplate>
        <button class="btn btn-primary me-2 mb-2" (click)="toggleStatus()">Disable</button>
        <button class="btn btn-primary me-2 mb-2" (click)="toggleMultiple()">
          {{ multiple === false ? 'Enable' : 'Disable' }} Multiple
        </button>
        <button class="btn btn-primary me-2 mb-2" (click)="toggleAnimation()">
          {{ animation === false ? 'Enable' : 'Disable' }} Animation
        </button>
        <button class="btn btn-primary mb-2" (click)="clear()">Clear</button>
      </ng-template>
    </app-card>
    <app-card cardTitle="Custom Template">
      <file-upload [control]="control" class="p-4">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
          @if (control.size === 0) {
            <div class="d-flex align-items-center">
              <div class="icon me-2">
                <i class="d-flex f-24 f-w-600" antIcon theme="outline" type="upload"></i>
              </div>
              <div class="upload-text">
                @if (isFileDragDropAvailable) {
                  <ng-container>Drag and drop Template or click here</ng-container>
                } @else {
                  <ng-template>Click here to choose a Template</ng-template>
                }
              </div>
            </div>
          }
        </ng-template>

        <ng-template let-i="index" let-file="file" let-control="control" #item>
          <div class="overlay">
            <span class="delete-button" (click)="control.removeFile(file)">
              <i class="ti ti-trash"></i>
            </span>
            @if (control.valid) {
              <img [src]="uploadedFile | async" />
            }
          </div>
        </ng-template>
      </file-upload>
    </app-card>
  </div>
</div>
