<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Notification">
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('default', 'Good evening, you lovely person!')">
        Default me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('info', 'This library is built on top of Angular 2.')">
        Info me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('success', 'Notification successfully opened.')">
        Success me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('warning', 'Warning! But not an error! Just a warning!')">
        Warning me!
      </button>
      <button class="btn btn-primary me-2 mb-2" (click)="showNotification('error', 'Whoops, something went wrong. Probably.')">
        Error me!
      </button>
    </app-card>
  </div>
</div>

<div class="col-sm-12">
  <app-card cardTitle="Hide Notification" blockClass="pc-component">
    <button class="btn btn-primary me-2 mb-2" (click)="hideAllNotifications()">Hide all notifications!</button>
    <button class="btn btn-primary me-2 mb-2" (click)="hideOldestNotification()">Hide oldest notification!</button>
    <button class="btn btn-primary me-2 mb-2" (click)="hideNewestNotification()">Hide newest notification!</button>
  </app-card>
</div>

<div class="col-sm-12">
  <app-card cardTitle="Show & hide a specific notification" blockClass="pc-component">
    <button class="btn btn-primary me-2 mb-2" (click)="showSpecificNotification('default', 'Hello, you lovely person!', 'ID_TEST')">
      Show notification with ID named 'ID_TEST'
    </button>
    <button class="btn btn-secondary me-2 mb-2" (click)="hideSpecificNotification('ID_TEST')">
      Hide notification with ID named 'ID_TEST'
    </button>
  </app-card>
</div>

<notifier-container></notifier-container>
