<div class="row">
  <div class="col-sm-12">
    <app-card [showHeader]="false">
      <div class="row g-3">
        <div class="col-sm-6 col-xl-3">
          <div class="mb-0">
            <label class="form-label">Invoice id</label>
            <input type="text" class="form-control" placeholder="#xxxx" />
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="mb-0">
            <label class="form-label">Status</label>
            <select class="form-select" id="exampleFormControlSelect1">
              <option>Επιλέξτε</option>
              <option>Νέο</option>
              <option>Συμπληρωματικό</option>
              <option>Παλαιότερο</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="mb-0">
            <label class="form-label">Ημερομηνία Έναρξης</label>
            <input type="datetime-local" class="form-control" />
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="mb-0">
            <label class="form-label">Ημερομηνία Λήξης</label>
            <input type="datetime-local" class="form-control" />
          </div>
        </div>
        <div class="col-xl-6">
          <div class="border rounded p-3 h-100">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="mb-0">Από:</h6>
              <button class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-2" (click)="openAddressBook()">
                <i antIcon theme="outline" type="edit"></i>
                Αλλαγή
              </button>
            </div>
            <h5>Garcia-Cameron and Sons</h5>
            <p class="mb-0">8534 Saunders Hill Apt. 583</p>
            <p class="mb-0">(970) 982-3353</p>
            <p class="mb-0">brandon07&#64;pierce.com</p>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="border rounded p-3 h-100">
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="mb-0">Προς:</h6>
              <button class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-2" (click)="openAddressBook()">
                <i antIcon theme="outline" type="plus"></i>
                Προσθήκη
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h5>Λεπτομέριες</h5>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    <span class="text-danger">*</span>
                    Όνομα
                  </th>
                  <th>
                    <span class="text-danger">*</span>
                    Περιγραφή
                  </th>
                  <th>
                    <span class="text-danger">*</span>
                    Ποσότητα
                  </th>
                  <th>
                    <span class="text-danger">*</span>
                    Ποσό
                  </th>
                  <th class="text-end">AMOUNT</th>
                  <th class="text-center">Ενέργεια</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><input type="text" class="form-control" placeholder="Name" /></td>
                  <td><input type="text" class="form-control" placeholder="Description" /></td>
                  <td><input type="number" class="form-control" placeholder="Qty" /></td>
                  <td><input type="number" class="form-control" placeholder="Price" /></td>
                  <td class="text-end">₹1.00</td>
                  <td class="text-center">
                    <a href="javascript:" class="avatar avatar-s btn-link-danger btn-pc-default">
                      <i class="f-20 text-danger" antIcon type="delete" theme="outline"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-start">
            <hr class="mb-4 mt-0 border-secondary border-opacity-50" />
            <button class="btn btn-light-primary d-flex align-items-center gap-2">
              <i antIcon type="plus" theme="outline" class="d-flex"></i>
              Προσθήκη
            </button>
          </div>
        </div>
        <div class="col-12">
          <div class="invoice-total ms-auto">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Έκπτωση(%)</label>
                  <input type="text" class="form-control" value="0" />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label class="form-label">Φόρος(%)</label>
                  <input type="text" class="form-control" value="0" />
                </div>
              </div>
              <div class="col-6"><p class="text-muted mb-1 text-start">Sub Total :</p></div>
              <div class="col-6"><p class="f-w-600 mb-1 text-end">$20.00</p></div>
              <div class="col-6"><p class="text-muted mb-1 text-start">Έκπτωση :</p></div>
              <div class="col-6"><p class="f-w-600 mb-1 text-end text-success">$10.00</p></div>
              <div class="col-6"><p class="text-muted mb-1 text-start">Φόρος :</p></div>
              <div class="col-6"><p class="f-w-600 mb-1 text-end">$5.000</p></div>
              <div class="col-6"><p class="f-w-600 mb-1 text-start f-w-700">Συνολικό Ποσό :</p></div>
              <div class="col-6"><p class="f-w-600 mb-1 text-end f-w-700">$25.00</p></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-0">
            <label class="form-label">Περιγραφή</label>
            <textarea class="form-control" rows="3" placeholder="Περιγραφή"></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-end justify-content-between g-3">
            <div class="col-sm-auto">
              <label class="form-label">Επιλέξτε Νόμισμα*</label>
              <select class="form-select w-auto">
                <option>USD (US Dollar)</option>
                <option>INR (Rupes)</option>
              </select>
            </div>
            <div class="col-sm-auto btn-page">
              <a href="javascript:" class="btn btn-outline-secondary">Προβολή</a>
              <button class="btn btn-outline-secondary">Αποθήκευση</button>
              <button class="btn btn-primary">Δημιουργία & Αποστολή</button>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
