<div class="col-md-6">
  <div class="form-group">
    <label class="form-label">Επιλογή Ρόλου</label>
    <select
      class="form-control"
      name="role"
      [ngClass]="{
        'is-invalid': !role.valid && (role.dirty || role.touched || isSubmit)
      }"
      #role="ngModel"
      required
      [(ngModel)]="formInput.role"
    >
      <option value="">-- Επιλέξτε ρόλο --</option>
      <option value="Admin">Διαχειριστής</option>
      <option value="User">Χρήστης</option>
      <option value="PropertyManager">Διαχειριστής Ακινήτων</option>
      <option value="BuildingManager">Διαχειριστής Κτιρίου</option>
      <option value="Owner">Ιδιοκτήτης</option>
      <option value="Resident">Ένοικος</option>
    </select>
    <ng-container *ngIf="!role.valid && (role.dirty || role.touched || isSubmit)">
      <label id="validation-role-error" class="error jquery-validation-error small form-text invalid-feedback">
        Παρακαλώ επιλέξτε έναν ρόλο.
      </label>
    </ng-container>
  </div>
</div>