<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Ημερολόγιο">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-muted"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Προηγούμενο
            </div>
            <div class="btn btn-outline-primary" mwlCalendarToday [(viewDate)]="viewDate">Σήμερα</div>
            <div class="btn btn-muted" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
              Επόμενο
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate: view + 'ViewTitle' : 'en' }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(calendarView.Month)" [class.active]="view === calendarView.Month">Μήνας</div>
            <div class="btn btn-primary" (click)="setView(calendarView.Week)" [class.active]="view === calendarView.Week">Εβδομάδα</div>
            <div class="btn btn-primary" (click)="setView(calendarView.Day)" [class.active]="view === calendarView.Day">Μέρα</div>
          </div>
        </div>
      </div>
      <br />
      <div>
        @switch (view) {
          @case (calendarView.Month) {
            <mwl-calendar-month-view
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            ></mwl-calendar-month-view>
          }
          @case (calendarView.Week) {
            <mwl-calendar-week-view
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)  "
              (eventTimesChanged)="eventTimesChanged($event)"
            ></mwl-calendar-week-view>
          }
          @case (calendarView.Day) {
            <mwl-calendar-day-view
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            ></mwl-calendar-day-view>
          }
        }
      </div>
      <br />
      <br />
      <br />
      <h3>
        <button class="btn btn-primary float-end" (click)="openAddModal()">Προσθήκη</button>
        <div class="clearfix"></div>
      </h3>
      <h3>Επεξεργασία Ανακοινώσεων</h3>

      <div class="table-responsive mt-4">
        <h5 class="mb-3">Γεγονότα που έχουν προστεθεί</h5>
        <table class="table table-bordered align-middle text-center">
          <thead class="table-light">
            <tr>
              <th>Τίτλος</th>
              <th>Αρχή</th>
              <th>Λήξη</th>
              <th>Ενέργειες</th>
            </tr>
          </thead>
          <tbody>
            @for (event of events; track event) {
              <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.start | date: 'medium' }}</td>
                <td>{{ event.end | date: 'medium' }}</td>
                <td>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a
                        href="javascript:void(0)"
                        class="avatar avatar-xs btn-link-primary"
                        ngbTooltip="Επεξεργασία"
                        (click)="openEditModal(event)"
                      >
                        <i class="f-16 text-primary d-flex" antIcon type="edit" theme="outline"></i>
                      </a>
                    </li>

                    <li class="list-inline-item">
                      <a
                        href="javascript:void(0)"
                        class="avatar avatar-xs btn-link-danger"
                        ngbTooltip="Διαγραφή"
                        (click)="deleteEvent(event)"
                      >
                        <i class="f-16 text-danger d-flex" antIcon type="delete" theme="outline"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="5" class="text-muted text-center">Δεν έχουν προστεθεί γεγονότα ακόμα</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
