<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">
    <app-card cardTitle="Apply Teacher list" cardClass="table-card" [padding]="0">
      <form class="dt-responsive">
        <div class="dataTable-top">
          <div class="dataTable-dropdown">
            <select class="form-select" title="select item per page" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
              <option [ngValue]="5">5 items per page</option>
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="15">15 items per page</option>
            </select>
          </div>
          <div class="dataTable-search d-flex align-items-center">
            <input
              id="table-complete-search"
              type="text"
              class="form-control"
              name="searchTerm"
              [(ngModel)]="service.searchTerm"
              placeholder="Search..."
            />
          </div>
        </div>

        <div class="table-responsive dt-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th scope="col" sortable="name">NAME</th>
                <th scope="col" sortable="email">EMAIL</th>
                <th scope="col" sortable="qualification">QUALIFICATION</th>
                <th scope="col" sortable="mobile">MOBILE</th>
                <th scope="col" sortable="date">DATE/TIME</th>
                <th scope="col" sortable="action" class="text-center">ACTION</th>
              </tr>
            </thead>
            <tbody>
              @for (list of studentApply$ | async; track list) {
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="{{ list.src }}" alt="user image" class="img-radius wid-40" />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6 class="mb-0">{{ list.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td><ngb-highlight [result]="list.email" [term]="service.searchTerm"></ngb-highlight></td>
                  <td><ngb-highlight [result]="list.qualification" [term]="service.searchTerm"></ngb-highlight></td>
                  <td><ngb-highlight [result]="list.mobile" [term]="service.searchTerm"></ngb-highlight></td>
                  <td>
                    {{ list.date }}
                    <span class="text-muted text-sm d-block">{{ list.time }}</span>
                  </td>
                  <td class="text-center">
                    <ul class="list-inline me-auto mb-0">
                      <li class="list-inline-item align-bottom">
                        <a href="javascript:" class="avatar avatar-xs btn-light-success" ngbTooltip="check">
                          <i class="f-16 d-flex" antIcon type="check" theme="outline"></i>
                        </a>
                      </li>
                      <li class="list-inline-item align-bottom">
                        <a href="javascript:" class="avatar avatar-xs btn-light-danger" ngbTooltip="close">
                          <i class="f-16 d-flex" antIcon type="close" theme="outline"></i>
                        </a>
                      </li>
                      <li class="list-inline-item align-bottom">
                        <a href="javascript:" ngbTooltip="more" class="avatar avatar-xs btn-light-secondary">
                          <i class="f-16 d-flex" antIcon type="more" theme="outline"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="datatable-bottom">
          <div class="datatable-info">Showing 1 to {{ service.pageSize }} of 15 entries</div>
          <ngb-pagination
            [collectionSize]="(total$ | async)!"
            [(page)]="service.page"
            [pageSize]="service.pageSize"
            class="table-pagination"
          ></ngb-pagination>
        </div>
      </form>
    </app-card>
  </div>
</div>
