<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card error-card">
          <div class="card-body">
            <div class="error-image-block">
              <img class="img-fluid" src="assets/images/pages/Error404.png" alt="error img" />
              <img class="img-fluid img-twocone" src="assets/images/pages/TwoCone.png" alt="twoCone img" />
            </div>
            <div class="text-center">
              <h1 class="mt-5"><b>Η Σελίδα Δεν Βρέθηκε</b></h1>
              <p class="mt-2 mb-4 text-muted">
                Η σελίδα που αναζητάτε έχει μετακινηθεί, διαγραφεί,<br />
                μετονομαστεί ή μπορεί να μην υπάρχει ποτέ!
              </p>
              <a [routerLink]="['/dashboard/default']" type="button" class="btn btn-primary mb-3">Επιστροφή στην αρχική</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
