<div class="modal-content">
  <div class="modal-header justify-content-between">
    <h5 class="mb-0">Επιλογή Πολυκατοικίας</h5>
    <a href="javascript:" class="avatar avatar-s btn-link-danger" (click)="cancel()">
      <i class="f-20" antIcon theme="outline" type="close"></i>
    </a>
  </div>

  <div class="modal-body">
    <div class="address-check-block">
      <div *ngFor="let b of addressList; let i = index" class="address-check border rounded p-3 mb-3">
        <div class="form-check">
          <input
            type="radio"
            name="building"
            class="form-check-input input-primary"
            [id]="'building-' + i"
            (change)="selectedBuilding = b"
            [checked]="selectedBuilding?.id === b.id"
          />
          <label class="form-check-label d-block" [for]="'building-' + i">
            <h5 class="mb-0">{{ b.name }}</h5>
            <p class="mb-0">
              Διεύθυνση: {{ b.street1 }} {{ b.stNumber1 }}
              <ng-container *ngIf="b.street2">- {{ b.street2 }} {{ b.stNumber2 }}</ng-container>
            </p>
            <p class="mb-0">Πόλη: {{ b.city }}, ΤΚ: {{ b.postalCode }}</p>
            <p class="mb-0">Διαχειριστής: {{ b.manager?.fullName }}</p>
            <p class="mb-0">Τηλέφωνο: {{ b.manager?.phoneNumber }}</p>
            <p class="mb-0">E-mail: {{ b.manager?.email }}</p>
          </label>
        </div>
      </div>
    </div>

    <div class="text-end btn-page mt-3">
      <button class="btn btn-outline-secondary me-2" type="button" (click)="cancel()">Άκυρο</button>
      <button class="btn btn-primary" (click)="saveSelection()">Αποθήκευση και επιλογή</button>
    </div>
  </div>
</div>
