<div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
  <div class="dropdown-header d-flex align-items-center justify-content-between">
    <h5 class="m-0">{{ 'Notifications' | translate }}</h5>

    <a href="javascript:" class="bg-transparent" (click)="markAllRead(); close()">
      <i class="text-success d-flex f-20" antIcon theme="outline" type="check-circle"></i>
    </a>
  </div>

  <div class="dropdown-divider"></div>

  <app-scrollbar [customStyle]="'280px'">
    <div class="dropdown-header p-0 text-wrap header-notification-scroll">
      <div *ngIf="notifications.length === 0" class="p-3 text-center text-muted">
        <i antIcon type="bell" theme="outline" class="mb-2"></i>
        <div>Δεν υπάρχουν ειδοποιήσεις</div>
      </div>

      <div *ngIf="notifications.length > 0" class="list-group list-group-flush w-100">
        @for (item of notifications; track item.id) {
          <a class="list-group-item list-group-item-action" (click)="openNotification(item)">
            
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div [ngClass]="item.avatarClass">  
                  <i class="d-flex" antIcon theme="outline" [type]="item.iconClass"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <span class="float-end text-muted">{{ item.time }}</span>
                <p class="text-body mb-0" [innerHTML]="item.message"></p>
                <span class="text-muted">{{ item.date }}</span>
              </div>
            </div>
          </a>
        }
      </div>
    </div>
  </app-scrollbar>

  <div class="dropdown-divider"></div>

  <div class="text-center py-2">
    <a class="btn btn-link link-primary py-0">{{ 'ViewAll' | translate }}</a>
  </div>
</div>
