<app-card *ngIf="card_detail.length > 0" cardTitle="Πολυκατοικία" [padding]="24">
  <div class="row">
    <div class="col-md-6">
      <label>Όνομα Πολυκατοικίας</label>
      <input type="text" class="form-control readonly-input" [value]="card_detail[0].buildingName" readonly />
    </div>
    <div class="col-md-6">
      <label>Διεύθυνση Πολυκατοικίας</label>
      <input
        type="text"
        class="form-control readonly-input"
        [value]="card_detail[0].buildingStreet + ' ' + card_detail[0].buildingStreetNumber + ', ' + card_detail[0].buildingCity"
        readonly
      />
    </div>
  </div>
</app-card>
<div class="row">
  <div class="p-3 d-sm-flex align-items-center justify-content-between user-card">
    <div class="d-flex align-items-center m-sm-0 mt-3">
      <select class="form-select" aria-label="Επιλογή ταξινόμησης" [(ngModel)]="sortOption" (change)="sortCards()">
        <option value="default">Ταξινόμηση (Προεπιλογή)</option>
        <option value="name">Όνομα</option>
        <option value="floorAsc">Όροφος Αύξουσα</option>
        <option value="floorDesc">Όροφος Φθίνουσα</option>
      </select>
      <a
        *ngIf="userRole === 'BuildingManager' || userRole === 'PropertyManager'"
        href="javascript:"
        class="btn btn-primary d-inline-flex align-items-center ms-2 text-white"
        (click)="openAddApartment()"
      >
        <i class="me-2 d-flex" antIcon type="plus" theme="outline"></i>
        <span>Προσθήκη Διαμερίσματος</span>
      </a>
    </div>
  </div>

  @for (card of card_detail; track card) {
    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="{{ card.src }}" alt="εικόνα-χρήστη" class="wid-40 rounded-circle" />
            </div>
            <div class="flex-grow-1 mx-3">
              <h6 class="mb-0">{{ card.name }}</h6>
              <p class="text-muted text-sm mb-0">{{ card.position }}</p>
            </div>
            <div class="dropdown" ngbDropdown>
              <a class="avatar avatar-s btn-link-secondary dropdown-toggle arrow-none" title="μενού" href="javascript:" ngbDropdownToggle>
                <i antIcon type="more" theme="outline" class="f-16"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:">Προεπισκόπηση</a>
                <a class="dropdown-item" href="javascript:">Κοινοποίηση</a>
                <a class="dropdown-item" href="javascript:">Επεξεργασία</a>
                <a class="dropdown-item" href="javascript:">Διαγραφή</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <p class="mb-4">{{ card.description }}</p>

          <div class="row g-2">
            <div class="col-sm-6">
              <div class="d-inline-flex align-items-center w-100">
                <i antIcon type="mail" theme="outline"></i>
                <p class="mb-0 ms-2 text-truncate text-muted">{{ card.email }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-inline-flex align-items-center w-100">
                <i antIcon type="phone" theme="outline"></i>
                <p class="mb-0 ms-2 text-truncate text-muted">{{ card.phone }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-inline-flex align-items-center w-100">
                <i antIcon type="environment" theme="outline"></i>
                <p class="mb-0 ms-2 text-truncate text-muted">{{ card.street }} {{ card.streetNumber }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-inline-flex align-items-center w-100">
                <i antIcon type="environment" theme="outline"></i>
                <p class="mb-0 ms-2 text-truncate text-muted">{{ card.city }}</p>
              </div>
            </div>
          </div>

          <div class="mt-3">
            @for (item of card.user_skill; track item) {
              <span class="badge bg-outline-secondary f-14 me-1 mt-1">{{ item.skill }}</span>
            }
          </div>
        </div>

        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 text-muted text-sm">Ενημερώθηκε: {{ card.lastModifiedDate || 'Δεν υπάρχει ημερομηνία' }}</p>
            <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" (click)="open(preview, card)">Προεπισκόπηση</button>
          </div>
        </div>
      </div>
    </div>
  }
  <!-- Pagination -->
  <div class="datatable-bottom mt-3" *ngIf="total > 1">
    <ngb-pagination
      [collectionSize]="total"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
      class="table-pagination"
    ></ngb-pagination>
  </div>
</div>

<ng-template #preview let-modal>
  <app-card-preview [apartment]="selectedApartment"></app-card-preview>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="modal.close('Close click')">Κλείσιμο</button>
  </div>
</ng-template>


