<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card construction-card">
          <div class="card-body">
            <div class="construction-image-block">
              <div class="row justify-content-center">
                <div class="col-10">
                  <img class="img-fluid" src="assets/images/pages/under-construction-2.svg" alt="construction img" />
                </div>
              </div>
            </div>
            <div class="text-center">
              <h1 class="mt-4"><b>Υπό Κατασκευή</b></h1>
              <p class="mt-4 text-muted">
                Γεια! Παρακαλώ επισκεφθείτε ξανά αργότερα. Κάνουμε
                <br />
                κάποιες εργασίες συντήρησης αυτή τη στιγμή.
              </p>
              <a [routerLink]="['/dashboard/default']" type="button" class="btn btn-primary mb-3">Επιστροφή στην αρχική</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
