<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <app-card [showHeader]="false" [padding]="30" cardClass="my-5">
        <div class="d-flex justify-content-between align-items-end mb-4">
          <h3 class="mb-0"><b>Εγγραφή</b></h3>
          <a [routerLink]="[this.authenticationService.isLoggedIn() ? '/auth/login' : '/login']" class="link-primary">
            Έχετε ήδη λογαριασμό;
          </a>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label" for="First Name">Όνομα*</label>
              <input type="text" id="First Name" class="form-control" placeholder="Όνομα" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label" for="Last Name">Επίθετο</label>
              <input type="text" id="Last Name" class="form-control" placeholder="Επίθετο" />
            </div>
          </div>
        </div>
        <!-- <div class="form-group mb-3">
          <label class="form-label" for="Comapny">Company</label>
          <input type="text" id="Company" class="form-control" placeholder="Company" />
        </div> -->
        <div class="form-group mb-3">
          <label class="form-label" for="Email">Διεύθυνση Email*</label>
          <input type="email" id="Email" class="form-control" placeholder="Διεύθυνση Email" />
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="Password">Κωδικός</label>
          <input type="password" id="Password" class="form-control" placeholder="Κωδικός" />
        </div>
        <p class="mt-4 text-sm text-muted">
          Με την εγγραφή σας, αποδέχεστε τους
          <a href="javascript:" class="text-primary">Όρους Παροχής Υπηρεσιών</a>
          και την
          <a href="javascript:" class="text-primary">Πολιτική Απορρήτου</a>
        </p>
        <div class="d-grid mt-3">
          <button type="button" class="btn btn-primary">Δημιουργία Λογαριασμού</button>
        </div>
        <div class="saprator mt-3">
          <span>Εγγραφή μέσω</span>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="d-grid">
              <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                <img src="assets/images/authentication/google.svg" alt="Google logo" />
                <span class="d-none d-sm-inline-block">Google</span>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="d-grid">
              <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                <img src="assets/images/authentication/twitter.svg" alt="Twitter logo" />
                <span class="d-none d-sm-inline-block">Twitter</span>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="d-grid">
              <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                <img src="assets/images/authentication/facebook.svg" alt="Facebook logo" />
                <span class="d-none d-sm-inline-block">Facebook</span>
              </button>
            </div>
          </div>
        </div>
      </app-card>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyrights©
            <a href="https://codedthemes.com/" target="_blank">Building Manager</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a [routerLink]="['/']">Αρχική Σελίδα</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/">Πολιτική Απορρήτου</a></li>
            <li class="list-inline-item"><a [routerLink]="['/contact-us']">Επικοινωνία</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
