<div class="row">
  <!-- [ badge ] start -->
  <div class="col-sm-12">
    <app-card cardTitle="Basic Badges" blockClass="pc-component">
      <h1>
        Example heading
        <span class="badge bg-dark">New</span>
      </h1>
      <h2>
        Example heading
        <span class="badge bg-dark">New</span>
      </h2>
      <h3>
        Example heading
        <span class="badge bg-dark">New</span>
      </h3>
      <h4>
        Example heading
        <span class="badge bg-dark">New</span>
      </h4>
      <h5>
        Example heading
        <span class="badge bg-dark">New</span>
      </h5>
      <h6>
        Example heading
        <span class="badge bg-dark">New</span>
      </h6>
    </app-card>
    <app-card cardTitle="Button Badges" blockClass="pc-component">
      <div class="d-flex flex-wrap gap-2">
        <button type="button" class="btn btn-primary">
          primary
          <span class="badge bg-light text-dark">4</span>
        </button>
        <button type="button" class="btn btn-secondary position-relative">
          Inbox
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <button type="button" class="btn btn-info position-relative ms-2">
          Profile
          <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
      </div>
    </app-card>
    <app-card cardTitle="Contextual Variations" blockClass="pc-component">
      <div class="d-flex flex-wrap gap-2">
        <span class="badge bg-primary">Primary</span>
        <span class="badge bg-secondary">Secondary</span>
        <span class="badge bg-success">Success</span>
        <span class="badge bg-danger">Danger</span>
        <span class="badge bg-warning text-dark">Warning</span>
        <span class="badge bg-info">Info</span>
        <span class="badge bg-light text-dark">Light</span>
        <span class="badge bg-dark">Dark</span>
      </div>
    </app-card>
    <app-card cardTitle="Pill Badges" blockClass="pc-component">
      <div class="d-flex flex-wrap gap-2">
        <span class="badge rounded-pill bg-primary">Primary</span>
        <span class="badge rounded-pill bg-secondary">Secondary</span>
        <span class="badge rounded-pill bg-success">Success</span>
        <span class="badge rounded-pill bg-danger">Danger</span>
        <span class="badge rounded-pill bg-warning text-dark">Warning</span>
        <span class="badge rounded-pill bg-info">Info</span>
        <span class="badge rounded-pill bg-light text-dark">Light</span>
        <span class="badge rounded-pill bg-dark">Dark</span>
      </div>
    </app-card>
    <app-card cardTitle="Light variant" blockClass="pc-component">
      <div class="d-flex flex-wrap gap-2">
        <span class="badge bg-light-primary">Primary</span>
        <span class="badge bg-light-secondary">Secondary</span>
        <span class="badge bg-light-success">Success</span>
        <span class="badge bg-light-danger">Danger</span>
        <span class="badge bg-light-warning">Warning</span>
        <span class="badge bg-light-info">Info</span>
        <span class="badge bg-light-light text-dark">Light</span>
        <span class="badge bg-light-dark">Dark</span>
      </div>
    </app-card>
  </div>
  <!-- [ badge ] end -->
</div>
