<div class="modal-header justify-content-between">
  <h4 class="calendar-modal-title f-w-600 text-truncate">Festival gift for your</h4>
  <a href="javascript:" class="avatar avatar-s btn-link-danger" (click)="modal.dismiss('Cross click')">
    <i antIcon theme="outline" type="close" class="f-20"></i>
  </a>
</div>
<div class="modal-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item px-0">
      <div class="row">
        <div class="col-sm-6">
          <div class="card my-2 coupon-card border border-secondary">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Up to 50% Off</h4>
                <button class="btn coupon-btn btn-light-secondary">MANTIS50</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card my-2 coupon-card border border-danger">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Festival Fires</h4>
                <button class="btn coupon-btn btn-light-danger">FLAT05</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item px-0">
      <div class="media align-items-center mb-3">
        <div class="avatar bg-primary text-white">
          <i antIcon theme="outline" type="gift" class="f-24 d-flex"></i>
        </div>
        <div class="media-body mx-3">
          <h5 class="mb-1">Get $150 off on your subscription</h5>
          <p class="mb-0 text-sm text-muted">When you subscribe to the unlimited consultation plan on Mantis.</p>
        </div>
        <button class="btn coupon-btn btn-light-primary">SUB150</button>
      </div>
    </li>
    <li class="list-group-item px-0">
      <div class="media align-items-center mb-3">
        <div class="avatar bg-warning text-white">
          <i antIcon theme="outline" type="trophy" class="f-22 d-flex"></i>
        </div>
        <div class="media-body mx-3">
          <h5 class="mb-1">Save up to $200</h5>
          <p class="mb-0 text-sm text-muted">Make 4 play store recharge code purchases & save up to $200</p>
        </div>
        <button class="btn coupon-btn btn-light-warning">UPTO200</button>
      </div>
    </li>
  </ul>
</div>
