.toggle-btn {
  border: 1px solid var(--bs-gray-400);
  color: var(--bs-gray-700);
  padding: 6px 14px;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f1f1f1;
    border-color: var(--bs-gray-500);
  }

  &.active {
    border-color: #1677ff;
    color: #1677ff;
    font-weight: 600;
  }
}

