<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-md-6 col-xl-3">
    <app-user-card-chart />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-order-card-chart />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-sale-card-chart />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-marketing-card-chart />
  </div>
  <div class="col-md-12 col-xl-7">
    <app-monthly-bar-chart />
  </div>
  <div class="col-md-12 col-xl-5">
    <app-income-overview-chart />
  </div>
  <div class="col-md-12 col-xl-4">
    <app-analytics-chart />
  </div>
  <div class="col-md-12 col-xl-8">
    <app-income-over-chart />
  </div>
  <div class="col-md-12 col-xl-7">
    <app-sales-report-chart />
  </div>
  <div class="col-md-12 col-xl-5">
    <app-acquisition-chart />
  </div>

  <!-- [ sample-page ] end -->
</div>
