<div class="row">
  <div class="col-12">
    <div class="card border-0 shadow-none bg-transparent mb-1">
      <div class="card-body p-2">
        <div class="row align-items-center mb-3">
          <div class="col">
            <h5>Plans & Pricing</h5>
            <p>
              Every paid plan comes with educational resources and training to support you on your journey, along with a 30-day money-back
              guarantee.
            </p>
          </div>
          <div class="col-auto">
            <ul class="nav nav-pills nav-price">
              <li class="nav-item">
                <button class="nav-link" type="button" [class.active]="activeButton === 'Monthly'" (click)="setActiveButton('Monthly')">
                  Monthly
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" type="button" [class.active]="activeButton === 'Yearly'" (click)="setActiveButton('Yearly')">
                  Yearly
                  <span class="badge bg-primary ms-2">Save 30%</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      @for (list of prices; track list) {
        <div class="col-md-6 col-lg-4">
          <div class="card price-card" [ngClass]="list.type === 'popular' ? 'price-popular' : ''">
            <div class="card-body">
              <div class="price-head v2">
                @if (list.type === 'popular') {
                  <span class="badge f-12 bg-success mb-3">Popular</span>
                }
                <h5 class="mb-0">{{ list.title }}</h5>
                <p class="text-muted">{{ list.service }} Services</p>
                <div class="price-price mt-4">
                  ${{ activeButton === 'Monthly' ? list.monthly : list.yearly }}
                  <span class="text-muted">Lifetime</span>
                </div>
                <div class="d-grid">
                  <a class="mt-4" [ngClass]="list.type === 'popular' ? 'btn btn-primary' : 'btn btn-outline-secondary'" href="javascript:">
                    Buy Now
                  </a>
                </div>
              </div>
              <ul class="list-group list-group-flush product-list">
                @for (item of list.includeItems; track item) {
                  <li class="list-group-item" [ngClass]="item.available === true ? 'enable' : ''">{{ item.title }}</li>
                }
              </ul>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
