<app-card [cardTitle]="currentTitle">
  <ng-template #headerOptionsTemplate>
  <div ngbDropdown placement="bottom-end">
    <a class="avatar avatar-s btn-link-secondary arrow-none" href="javascript:" ngbDropdownToggle>
      <i class="f-18" antIcon type="more" theme="outline"></i>
    </a>
    <div ngbDropdownMenu>
      <a ngbDropdownItem (click)="onPeriodChange('month')">Τρέχοντος Μήνα</a>
      <a ngbDropdownItem (click)="onPeriodChange('year')">Τρέχοντος Έτους</a>
      <a ngbDropdownItem (click)="onPeriodChange('all')">Συνολικά</a>
    </div>
  </div>
</ng-template>

  <div *ngIf="chartOptions?.series?.length; else noData">
  <apx-chart
    [chart]="chartOptions.chart"
    [series]="chartOptions.series"
    [labels]="chartOptions.labels"
    [colors]="chartOptions.colors"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
</div>

<ng-template #noData>
  <div class="text-center text-muted mt-3">Δεν υπάρχουν διαθέσιμα δεδομένα για εμφάνιση</div>
</ng-template>

  @for (list of expenses; track list; let last = $last; let first = $first) {
    <div class="d-flex align-items-center justify-content-between" [ngClass]="{ 'mb-2': !last, 'mt-3': first }">
      <h6 class="mb-0 d-flex align-items-center gap-2">
        <i class="fas fa-circle {{ list.color }} f-12"></i>
        {{ list.title }}
      </h6>
      <p class="mb-0 text-muted">{{ list.value }}</p>
    </div>
  }
</app-card>
