<div *ngIf="role === 'User'" class="welcome-card">
  <div class="body">
    <div class="d-flex flex-wrap">
      <div class="row w-100">
        <div class="col-sm-6 col-xs-12">
          <div class="info-section">
            <h2 class="">Καλώς Ήρθατε στο Building Manager</h2>
            <h6 class="my-3 f-w-400">
              Πάρτε τον έλεγχο των κοινωστήστων σας με το Building Manager. Παρακολουθήστε την πρόοδο, διαχειριστείτε τις εργασίες και
              επικοινωνήστε με τους ενοίκους εύκολα και αποτελεσματικά.
            </h6>
            <button routerLink="/dashboard/forms-validator" class="btn btn-outline-light">Δείτε Περισσότερα</button>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="pe-5 d-flex flex-column justify-content-center align-items-end position-relative">
            <img src="assets/images/analytics/welcome-banner.png" alt="welcome" />
            <div class="sub-img">
              <img src="assets/images/analytics/welcome-arrow.png" alt="welcome-arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-3">
    <app-last-statement-card />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-building-total-card />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-apartment-pending-card />
  </div>
  <div class="col-md-6 col-xl-3">
    <app-building-pedning-card />
  </div>
  <div class="col-md-12 col-xl-8">
    <app-building-chart [isVisible]="dashboardLoaded"></app-building-chart>
  </div>
  <!-- Ενεργείες/Πληρωμές -->
  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Ενέργειες Πληρωμών</h5>

    <div class="card actions-card" style="max-height: 420px; overflow-y: auto">
      <div class="list-group list-group-flush">
        @for (task of allocations; track task) {
          <div class="list-group-item py-3">
            <div class="d-flex justify-content-between align-items-start">
              <div>
                <h6 class="mb-1 d-flex align-items-center gap-2">
                  Σύνολο: {{ task.remainingAmount }} €

                  <span class="badge" [class.bg-success]="task.isPaid" [class.bg-danger]="!task.isPaid">
                    {{ task.isPaid ? 'Πληρωμένο' : 'Απλήρωτο' }}
                  </span>
                </h6>
                <br />

                <small *ngIf="task.paidAmount" class="text-muted">Πληρωμένο: {{ task.paidAmount }} €</small>
              </div>

              <button
                class="btn btn-sm"
                [disabled]="task.isPaid"
                [class.btn-primary]="!task.isPaid"
                [class.btn-secondary]="task.isPaid"
                (click)="openModal(task)"
              >
                {{ task.isPaid ? 'Ολοκληρώθηκε' : 'Πληρωμή' }}
              </button>
            </div>
            <div>
              <h6>Τίτλος: {{ task.code }}</h6>
              <h6>Μήνας: {{ task.month }}</h6>
            </div>
            <div>
              <small class="text-muted">
                Ημερομηνία Έκδοσης: {{ task.issueDate | date: 'dd/MM/yyyy' }} Ημερομηνία Λήξης: {{ task.dueDate | date: 'dd/MM/yyyy' }}
              </small>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- Πίνακας Έξοδα Μήνα -->
  <div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Έξοδα Τελευταίου Μήνα</h5>
    <div class="card tbl-card">
      <div class="table-responsive scroll-10">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>Α.Α.</th>
              <th>Κατηγορία</th>
              <th class="text-center">Περιγραφή</th>
              <th class="text-end">Συνολικό Ποσό</th>
            </tr>
          </thead>
          <tbody>
            @for (item of lastStatementItems; let i = $index; track item) {
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ translateCategory(item.category) }}</td>
                <td class="text-center">{{ item.descriptionItem }}</td>
                <td class="text-end">{{ item.price }} €</td>
              </tr>
            }
            <tr class="table-secondary fw-bold">
              <td class="text-end"></td>
              <td colspan="3" class="text-end">Σύνολο: {{ totalAmount | number: '1.2-2' }} €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <app-polls-table />
  </div>

  <div class="col-md-12 col-xl-8">
    <app-sales-report-chart />
  </div>

  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Ιστορικό Συναλλαγών</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        <!-- @for (history of transaction; track history) {
          <a href="javascript:" class="list-group-item list-group-item-action">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div class="avatar avatar-s rounded-circle {{ history.background }}">
                  <i antIcon type="{{ history.icon }}" theme="outline"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="mb-1">{{ history.title }}</h6>
                <p class="mb-0 text-muted">{{ history.time }}</p>
              </div>
              <div class="flex-shrink-0 text-end">
                <h6 class="mb-1">{{ history.amount }}</h6>
                <p class="mb-0 text-muted">{{ history.percentage }}</p>
              </div>
            </div>
          </a>
        } -->
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h5>Help & Support Chat</h5>
            <p class="mb-3">Typical replay within 5 min</p>
          </div>
          <div class="col-auto">
            <div class="user-group mb-3">
              <img src="assets/images/user/avatar-1.jpg" alt="image" />
              <img src="assets/images/user/avatar-2.jpg" alt="image" />
              <img src="assets/images/user/avatar-3.jpg" alt="image" />
            </div>
          </div>
        </div>
        <div class="btn btn-primary">Need Help?</div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-8">
    <div class="card">
      <div class="card-body">
        <!-- @for (details of summaryIncome; track details) {
          <div class="row align-items-center my-2">
            <div class="col-5">
              <p class="mb-0">{{ details.title }}</p>
            </div>
            <div class="col">
              <ngb-progressbar class="{{ details.background }}" type="{{ details.color }}" value="{{ details.value }}" height="6px" />
            </div>
            <div class="col-auto ps-0">
              <p class="mb-0 text-sm text-muted">{{ details.percentage }}</p>
            </div>
          </div>
        } -->
        <hr class="my-4" />
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="assets/images/widget/target.svg" alt="img" class="img-fluid" />
          </div>
          <div class="flex-grow-1 ms-3">
            <span>Income Salaries & Budget</span>
            <p class="text-muted mb-0 text-sm">All your income salaries and budget comes here, you can track them or manage them</p>
            <p class="text-muted mb-0 text-sm">All your income salaries and budget comes here, you can track them or manage them</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row g-0">
        <div class="col-md-7">
          <div class="card-body bg-primary position-relative h-100">
            <h5 class="text-white">What would you want to learn today</h5>
            <p class="text-white text-sm mb-4">Your learning capacity is 80% as daily analytics</p>
            <h4 class="text-white pt-5">35% Completed</h4>
            <div class="max-60 position-relative">
              <ngb-progressbar type="success" height="6px" [value]="40"></ngb-progressbar>
            </div>
            <img src="assets/images/widget/reader.svg" alt="img" class="img-fluid img-reader" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <p class="mb-2">Get started with new basic skills</p>
            <p class="text-muted mb-3">Last Date 5th Nov 2020</p>
            <hr class="my-4" />
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="user-group">
                <img src="assets/images/user/avatar-1.jpg" alt="image" />
                <img src="assets/images/user/avatar-2.jpg" alt="image" />
                <img src="assets/images/user/avatar-3.jpg" alt="image" />
              </div>
              <a href="javascript:" class="avatar avatar-xs btn btn-primary" title="Add User">
                <i antIcon type="plus" theme="outline"></i>
              </a>
            </div>
            <p class="text-muted text-sm mb-0">Chrome fixed the bug several versions ago, thus rendering this...</p>
            <p class="text-muted text-sm mb-0">Chrome fixed the bug several versions ago, thus rendering this...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-acquisition-chart />
  </div>
</div>
