<app-card [showHeader]="false">
  <div class="row g-3 mb-3">
    @for (item of widgetData; track item; let i = $index) {
      <div class="col-md-6 col-xxl-3">
        <a href="javascript:" (click)="changeChart(i)">
          <app-card [showHeader]="false" cardClass="border mb-0" [padding]="16" blockClass="{{ i === activeIndex ? cardBackground : '' }}">
            <div class="d-flex align-items-center justify-content-between gap-1">
              <h6 class="mb-0">{{ item.title }}</h6>
              <p class="mb-0 text-muted d-flex align-items-center gap-1">
                <i
                  class="f-14 d-flex {{ item.color }}"
                  antIcon
                  type="{{ item.isLoss === true ? 'caret-down' : 'caret-up' }}"
                  theme="outline"
                ></i>
                {{ item.percentage }}%
              </p>
            </div>
            <h5 class="mb-2 mt-3">{{ item.count }}</h5>
            <div class="d-flex align-items-center gap-1">
              <h5 class="mb-0">{{ item.invoice }}</h5>
              <p class="mb-0 text-muted d-flex align-items-center gap-2">invoices</p>
            </div>
          </app-card>
        </a>
      </div>
    }
  </div>
  <div id="courses">
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [fill]="chartOptions.fill"
      [markers]="chartOptions.markers"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [legend]="chartOptions.legend"
      [plotOptions]="chartOptions.plotOptions"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</app-card>
