<app-card [showHeader]="false">
  <div class="mb-3">
    <h5 class="mb-0">Γραφικό Διάγραμμα</h5>
    <small class="text-muted">Ανά μήνα</small>
  </div>

  <div id="chart" *ngIf="chartOptions" >
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [legend]="chartOptions.legend"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions"
      [labels]="chartOptions.labels"
    ></apx-chart>
  </div>
</app-card>
