<app-card [showHeader]="false">
  <div class="mb-3 text-center">
    <h5 class="mb-0">Κατάσταση Παραστατικών</h5>
    <small class="text-muted">Ανά Μήνα</small>
  </div>

  <ng-container *ngIf="chartOptions; else noData">
    <div id="chart">
      <apx-chart
        [chart]="chartOptions.chart"
        [series]="chartOptions.series"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [grid]="chartOptions.grid"
        [legend]="chartOptions.legend"
        [tooltip]="chartOptions.tooltip"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="text-center my-4 text-muted">
      Δεν υπάρχουν διαθέσιμα δεδομένα
    </div>
  </ng-template>
</app-card>

