<div class="card">
  <div class="card-body">
    <h6 class="mb-2 f-w-400 text-muted">Σύνολο Πολυκατοικίας ({{month || '-'}})</h6>

    <h4 class="mb-0 d-flex align-items-center gap-2">
      {{ lastAmount | number:'1.2-2' }} €

      
      <span class="badge" [ngClass]="badgeClass">
        <i antIcon [type]="iconType" theme="outline"></i>
        {{ percentage | number:'1.1-1' }}%
      </span>
    </h4>
  </div>

  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</div>
