<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body p-30">
          <ng-template [ngIf]="!submitted">
            <h2 class="mb-4">Ενεργοποίηση Λογαριασμού</h2>
            <div class="mb-4">
              <h3 class="mb-2"><b>Εισάγετε τον Κωδικό Επιβεβαίωσης</b></h3>
              <p class="text-muted mb-4">Σας στείλαμε ένα μήνυμα στο email σας.</p>
              <p class="">Σας στείλαμε έναν κωδικό στο testmail</p>
            </div>
            <div class="code-inputs d-flex justify-content-center gap-2">
              <code-input [isCodeHidden]="false" [codeLength]="6" [code]="'number'" (codeCompleted)="onCodeCompleted($event)"></code-input>
            </div>
            <div class="d-grid mt-4">
              <button (click)="onSubmit()" type="button" class="btn btn-primary">Συνέχεια</button>
            </div>
            <div class="d-flex justify-content-between align-items-end mt-3">
              <p class="mb-0">Δεν λάβατε το email;</p>
              <a href="javascript:" class="link-primary">Επαναποστολή κωδικού</a>
            </div>
          </ng-template>
          <div *ngIf="submitted">
            <div class="activation-message" *ngIf="isOkay; else activationError">
              <h2>Η ενεργοποίηση ολοκληρώθηκε με επιτυχία!</h2>
              <p>Ο λογαριασμός σας ενεργοποιήθηκε με επιτυχία.</p>
              <button class="btn btn-primary" (click)="redirectToLogin()">Μετάβαση στην είσοδο</button>
            </div>
          </div>
          <ng-template #activationError>
            <div class="activation-error">
              <h2>Η ενεργοποίηση απέτυχε!</h2>
              <p>{{ message }}</p>
              <button class="btn btn-primary" (click)="submitted = false">Δοκιμάστε ξανά</button>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="/" target="_blank">Building Manager</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="/" target="_blank">Αρχική Σελίδα</a></li>
            <li class="list-inline-item"><a href="/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/" target="_blank">Επικοινωνία</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
