<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="theme logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body p-30">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Ξέχασα τον Κωδικό</b></h3>
            <a [routerLink]="[this.authenticationService.isLoggedIn() ? '/auth/login' : '/login']" class="link-primary">
              Επιστροφή στην Είσοδο
            </a>
          </div>
          <div class="form-group mb-3">
            <div *ngIf="emailSent" class="alert alert-success mt-3" role="alert">
              Το email επαναφοράς έχει αποσταλεί! Ελέγξτε τα εισερχόμενα ή τον φάκελο ανεπιθύμητης αλληλογραφίας (SPAM).
            </div>
            <label class="form-label">Διεύθυνση Email</label>
            <input [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="Διεύθυνση Email" />
          </div>
          <p class="mt-4 text-sm text-muted">Μην ξεχάσετε να ελέγξετε το φάκελο Ανεπιθύμητης Αλληλογραφίας (SPAM).</p>
          <div class="d-grid mt-3">
            <button (click)="sendResetEmail()" type="button" class="btn btn-primary">Αποστολή Email Επαναφοράς Κωδικού</button>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="/" target="_blank">Building Manager</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="/" target="_blank">Αρχική Σελίδα</a></li>
            <li class="list-inline-item"><a href="/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/" target="_blank">Επικοινωνία</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
