<!-- Vertical layout -->
@if (layout === 'vertical') {
  <app-scrollbar [customStyle]="'calc(100vh - 127px)'" id="nav-ps-mantis" appearance="compact">
    <div class="navbar-content">
      <ul class="nav coded-inner-navbar" (click)="fireOutClick()" (mouseleave)="navMob()">
        @for (item of navigation; track item) {
          @if (item.type === 'group') {
            <app-nav-group [item]="item"></app-nav-group>
          } @else if (item.type === 'collapse') {
            <app-nav-collapse [item]="item"></app-nav-collapse>
          } @else if (item.type === 'item') {
            <app-nav-item [item]="item" [parentRole]="[]"></app-nav-item>   
          }
        }
      </ul>
      <div class="m-4 mb-0">
        <div class="card nav-card mb-0">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/images/user/avatar-group.png" alt="user" class="img-fluid" />
              <div class="m-t-20 text-center">
                <h5 class="mb-0">Είδατε το πακέτο Pro?</h5>
                <span class="text-muted">Δείτε τα προνόμια του Pro</span>
              </div>
              <div class="m-t-20 text-center">
                <button class="btn btn-primary">Μάθετε περισσότερα</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scrollbar>
  <div class="user-profile-section">
    <ul class="list-unstyled">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 me-2">
          <div class="user-images">
            <img src="assets/images/user/avatar-1.jpg" alt="user" class="img-fluid rounded-circle" />
          </div>
        </div>
        <div class="flex-grow-1">
          <span>{{ this.authenticationService.currentUserName }}</span>
          <p class="mb-0 text-muted">{{ this.authenticationService.currentUserValue?.lastName}} {{this.authenticationService.currentUserValue?.firstName }}</p>
        </div>
        <div class="avatar avatar-xs btn-link-secondary" ngbDropdown>
          <i antIcon theme="outline" type="right" ngbDropdownToggle></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="logout()">{{'Logout' | translate}}</button>
            <button ngbDropdownItem [routerLink]="['/user/user-profile']">{{'Profile' | translate}}</button>
            <button ngbDropdownItem [routerLink]="['/user/account-profile']">{{'My Account' | translate}}</button>
          </div>
        </div>
      </div>
    </ul>
  </div>
} @else if (layout === 'horizontal') {
  <div class="navbar-content sidenav-horizontal" id="layout-sidenav">
    <a class="sidenav-horizontal-prev" [ngClass]="prevDisabled" (click)="scrollMinus()"></a>
    <div #navbarWrapper class="sidenav-horizontal-wrapper">
      <ul
        #navbarContent
        id="side-nav-horizontal"
        class="nav coded-inner-navbar sidenav-inner"
        (click)="fireLeave()"
        (mouseleave)="fireLeave()"
      >
        @for (item of navigation; track item) {
          @if (item.type === 'group') {
            <app-nav-group [item]="item"></app-nav-group>
          } @else if (item.type === 'collapse') {
            <app-nav-collapse [item]="item"></app-nav-collapse>
          } @else if (item.type === 'item') {
            <app-nav-item [item]="item"></app-nav-item>
          }
        }
      </ul>
    </div>
    <a class="sidenav-horizontal-next" [ngClass]="nextDisabled" (click)="scrollPlus()"></a>
  </div>
}

<!-- Compact Layout -->
<div class="navbar-content">
  @if (layout === 'compact') {
    <app-scrollbar [customStyle]="'calc(100vh - 80px)'" id="nav-ps-mantis">
      <ul class="nav coded-inner-navbar" (click)="fireOutClick()" (mouseleave)="navMob()">
        @for (item of navigation; track item) {
          @if (item.type === 'group') {
            <app-nav-group [item]="item" (showCollapseItem)="subMenuCollapse($event)"></app-nav-group>
          } @else if (item.type === 'collapse') {
            <app-nav-collapse></app-nav-collapse>
          } @else if (item.type === 'item') {
            <app-nav-item [item]="item"></app-nav-item>
          }
        }
      </ul>
    </app-scrollbar>
  }
</div>
@if (layout === 'compact') {
  @if (collapseItem) {
    <div class="pc-compact-submenu">
      <div class="pc-compact-title">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <div class="avatar avatar-xs bg-light-primary">
              <i antIcon type="{{ collapseItem.icon }}" theme="outline"></i>
            </div>
          </div>
          <div class="flex-grow-1 ms-2">
            <h5 class="mb-0">{{ collapseItem.title }}</h5>
          </div>
        </div>
      </div>
      <div class="collapse-item">
        <app-scrollbar [customStyle]="'calc(100vh - 70px)'">
          @for (item of collapseItem.children; track item) {
            @if (item.type === 'item') {
              <app-nav-item [item]="item" [parentRole]="item.role && item.role.length > 0 ? item.role : null"></app-nav-item>
            } @else if (item.type === 'collapse') {
              <app-nav-collapse [item]="item" [parentRole]="item.role && item.role.length > 0 ? item.role : null"></app-nav-collapse>
            }
          }
        </app-scrollbar>
      </div>
    </div>
  }
}
