<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-start justify-content-between mb-3">
      <h5 class="mb-0">Membership State</h5>
      <select class="form-select rounded-3 form-select-sm w-auto" [(ngModel)]="selectType" (change)="onOptionSelected()">
        <option value="today">Today</option>
        <option value="week">Weekly</option>
        <option value="month">Monthly</option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [colors]="chartOptions.colors"
            [stroke]="chartOptions.stroke"
            [grid]="chartOptions.grid"
            [plotOptions]="chartOptions.plotOptions"
          ></apx-chart>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rounded border p-3 mb-2">
          <span class="d-block">
            <i class="fas fa-circle text-primary f-10 m-r-10"></i>
            New Membership
          </span>
        </div>
        <div class="rounded border p-3">
          <span class="d-block">
            <i class="fas fa-circle text-primary text-opacity-25 f-10 m-r-10"></i>
            Repeat Membership
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
